/* ==========================================================================
   CATALOG
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */

/* CATALOG DETAIL */


.product-detail{

  .btn{
    font-size: .8em;

    &.up{
      margin-top: 1em;
    }
  }

  .box-white{
    margin-bottom: 1em;

    &.active{
      border: 1px solid $brand-accent;
    }
  }

  table{
    width: 100%;
    max-width: 100%;
    font-size: .85em;
    border: 1px solid $gray-light;

    a{
      color: $gray-darker;
    }
  }

  .btn-group{
    @extend .clearfix;
    margin-bottom: 1.5em;
    margin-top: -1em;

    .btn{
      width: 100%;
      margin-bottom: 7px;
    }
  }
}

.product-info,
.product-general-info{
    margin-bottom: 2em;
    @extend .clearfix;


}

.product-info,
.product-general-info{
     .image figure{

      display: block;

      a{
        display: block;

        img{
          @extend .img-responsive;
        }
      }

    }
}

.product-info{
  .image figure{
      @extend .box;
      padding: 0;
  }
}



/* CATALOG OVERVIEW */

.filters-toggle{
  float: right;
}

.filters-info{
  font-size: .95em;
  padding: 0 0 1em 0;
  @extend .clearfix;
  color: darken($gray, 5%);

  .filters-results{
    position: relative;
    top: .8em;
  }

  .filters-sort{
    select{
      font-size: .95em;
    }
  }
}

.filters-chosen{
  border: 1px solid $gray-light;
  padding: .7em;
  border-bottom: none;
  color: darken($gray, 5%);
  display: none;

  span{
    font-size: .9em;
    padding-right: 1em;
  }

  .btn.icon{
    text-transform: none;
    display: inline-block;
    margin-left: .5em;
    font-size: .9em;
    color: darken($gray, 5%);
    margin-right: 0;
    margin-bottom: 0;

    &:last-child{
      margin-left: 1em;
    }
  }
}

.catalog-grid{
  margin-bottom: 2em;
  margin-top: 1em;
  @extend .clearfix;

 .bodytext{
 	padding: 7px;
 	line-height: 1.5em;
 }

  article{
    position: relative;


     a{
      border: none;
      display: block;
      @include transition(.1s);
      cursor: pointer;
      @extend .box-shadow;
       background: white;
      margin-bottom: 14px;



      figure{
        text-align: center;
      }

      img{
        @extend .img-responsive;
      }

      h3{
      	height: 6em;
      	margin: 0;
      	overflow: hidden;
        @extend .icon;
        @extend .right;
        text-transform: uppercase;
        color: $gray-darker;
        font-size: .85em;
        padding: .8em 50px 0 1em;
        padding-right: 50px;
        display: block;
        position: relative;
        letter-spacing: .02em;


        &:after{
          font-size: 1em;
          position: absolute;
          right: 0px;
          background: $brand-primary;
          color: white;
          width: 30px;
          height: 30px;
          line-height: 30px;
          top: 0;
          text-align: center;
          @include transition(.3s);
        }
      }


      h4{
        margin: 0;
        overflow: hidden;
        text-transform: uppercase;
        color: $gray-darker;
        font-size: .8em;
        padding: .5em 1em;
        display: block;
        letter-spacing: .02em;
        font-weight: normal;
        line-height: 1.6em;

        &:after{
          @extend .title-border;
          width: 30px;
          margin-left: 0;
          text-align: left;
          margin-top: .5em;
        }
      }

      .text{
        height: 9em;
        overflow: hidden;
        position: relative;
      }

      .product-tags{
        color: lighten($gray, 3%);
        text-transform: uppercase;
        font-size: .8em;
        padding: 0.3em 1em;
        margin: 0;
      }

      .brand{
        padding: .5em;
        position: absolute;
        top: 0;
        right: 7px;

        img{
          @extend .img-responsive;
          max-width: 8em;
          max-height: 4em;
        }
      }

      &:hover{

  		@extend .box-shadow-large;
  		text-decoration: none;

        h3{
          color: $brand-primary;

          &:after{
          	background-color: lighten($brand-primary, 5%);
          }
        }
      }

  }

    }

    &.search-results article{
      h4{
        text-transform: none;
        font-size: 1.05em;
        line-height: 1.5em;
        &:after{
          display: none;
        }
      }

      .text{
        height: 7em;

        strong{
          color: $brand-primary;
          font-size: 1.05em;
        }
      }
    }
}

    .filters-info{
      .filters-results{
        @include make-col-grid(6);
      }
      .filters-sort{
        @include make-col-grid(6);
        text-align: right;
      }
    }


/* XSmall devices 
   -------------------------------------------------------------------------- */

@media (min-width: $screen-xs-min) {


  	.catalog-grid{
  		article{
  			@include make-col-grid(6);

  		}
  	}

   .catalog-grid.search-results{
      article{
       @include make-col-grid(3);
      }
    }



}

/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

.catalog-overview .filters-chosen{
  display: block;
}
  .product-info,
  .product-general-info{

      .image{
        @include make-col-grid(6);
        padding-left: 0;
      }

      .bodytext{
        @include make-col-grid(6);
      }
  }

  .product-detail{
    .btn-group .btn-col{
       @include make-col-grid(6);
       padding-left: 0;
    }
  }
}


/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {


  	.catalog-grid{
  		article{
  			@include make-col-grid(4);
  		}
  	}


    .catalog-grid.search-results{
      article{
       @include make-col-grid(3);
      }
    }

  .catalog-teaser .catalog-grid{
      article{
        @include make-col(20%);
      }
  }



  .product-info,
  .product-general-info{

  }


  .product-detail{


    .bodytext.box,
    .box.wrapper,
    .box-white{
      padding: 2em;
    }
    .box-white{
      margin-bottom: 1.5em;
    }

    .btn-group .btn-col{
       @include make-col-grid(4);
       padding-left: 0;
    }
 
  }


}


/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {
 

  	.catalog-grid{
  		article{
  			@include make-col-grid(3);
  		}
  	}

    .catalog-grid.search-results{
      article{
        @include make-col(20%);
      }
    }

  .catalog-teaser .catalog-grid{
      article{
        @include make-col(20%);
      }
  }



}


/* Mobile styles (smartphones, 768px and down) // use exeptional - declare mobile styles first instead
   -----------------------------------------------------------------------------------------------------*/

@media (max-width: $screen-sm-min) {

  .product-detail{
    .box, .box-white{
      border: none;
      padding: 0;
      margin: 0;
    }

    .box-white{
      padding: 10px 5px;
      margin: 0 -10px;
    }

  }
}



