
/* ==========================================================================
   SHOPPING CART
   ========================================================================== */

   
	.order-actions{
		padding-top: 2em;

	}

   .total{
   		margin-bottom: 1em;
   		margin-top: -1px;
   		margin-right: -2px;
   		line-height: 2.5em;
   		font-size: .95em;

   		h3{
   			margin: 0;
   			padding: 0;
   			font-weight: bold;
   			font-size: 1.1em;
   		}

   		> .row{
   			padding: 0 1em;
   		}

   		> .row > div:last-child{
   			text-align: right;
   		}
   }

	table.shopping-cart{
		margin-bottom: 0;
		font-size: .9em;
	}

	.transport{
		text-align: right;
		padding: 1em 0 1.5em 0;
		font-size: .9em;

		a.btn.icon.border{
			margin-left: 1em;
			margin-right: 0;
		}
	}

	.delivery{
		font-size: .95em;
		padding: 2em;

		.form-item{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.order{
		text-align: right;
		padding: 2em 0 5em 0;

		a.btn-primary{
			margin-left: 2em;
			margin-right: 0;
			color: white;
			font-weight: bold;
			font-size: 1em;
			background: $brand-accent;
			&:hover{
				background: darken($brand-accent, 3%);
				font-weight: bold;
			}

			&:active, &:focus{
				background: darken($brand-accent, 3%)!important;
				color: white!important;
				font-weight: bold;
			}
		}
	}




/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

	.total{
		@include make-col-grid(4);
	   }

	  .order-actions{
	  	@include make-col-grid(8);
	  	padding-left: 0px;
	  }

}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {

}

/* Mobile styles (smartphones, 768px and down)
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {

.order .btn-primary{
	display: block;
	margin: 2em auto;
}
}

