/* ==========================================================================
   ICONS
   Description: Import fonts & icons
   ========================================================================== */ 


/* ==========================================================================
   IMPORT VARIABLES
   ========================================================================== */




/* ==========================================================================
   FONTFACE WEBFONTS
   ========================================================================== */

/* Webfont: LatoLatin-Regular */

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('#{$base-font-path}/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$base-font-path}/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$base-font-path}/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */

@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('#{$base-font-path}/LatoLatin-Light.eot'); /* IE9 Compat Modes */
    src: url('#{$base-font-path}/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$base-font-path}/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('#{$base-font-path}/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('#{$base-font-path}/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$base-font-path}/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('#{$base-font-path}/LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}



/* ==========================================================================
   IMPORT CUSTOM ICONS
   ========================================================================== */


@font-face {
  font-family: 'custom';
  src:  url('#{$icomoon-font-path}/custom.eot?4yth56');
  src:  url('#{$icomoon-font-path}/custom.eot?4yth56#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/custom.ttf?4yth56') format('truetype'),
    url('#{$icomoon-font-path}/custom.woff?4yth56') format('woff'),
    url('#{$icomoon-font-path}/custom.svg?4yth56#custom') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before,
.icon:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon{
	&:before{
		padding-right: .5em;
		top: .1em;
		position: relative;
  		font-size: 1.2em;
	}

	&:after{
		padding-left: .3em;
	}

}
.icon.home { 
	  &:before {
	    content: $icon-home;
	  }
	}
.icon.shop { 
	  &:before {
	    content: $icon-building;
	  }
	}

.icon.lock { 
	  &:before {
	    content: $icon-lock;
	  }
	}

.icon.trash { 
	  &:before {
	    content: $icon-trash;
	  }
	}

.icon.trash-after { 
	  &:after {
	    content: $icon-trash;
	  }
	}

.icon.favorites { 
	  &:before {
	    content: $icon-star;
	  }
	}

.icon.envelope { 
	  &:before {
	    content: $icon-envelope;
	  }
	}

.send { 
	  &:before {
	    content: $icon-send;
	  }
	}
.icon.language { 
	  &:before {
	    content: $icon-language;
	  }
	}

.icon.save { 
	  &:before {
	    content: $icon-save;
	  }
	}

.icon.book { 
	  &:before {
	    content: $icon-book;
	  }
	}

.icon.user { 
	  &:before {
	    content: $icon-user;
	  }
	}

.icon.cart { 
	  &:before {
	    content: $icon-cart;
	  }
	}

.icon.cart-add { 
	  &:before {
	    content: $icon-cart-add;
	  }
	}

.icon.phone { 
	  &:before {
	    content: $icon-phone;
	  }
	}

.icon.refresh { 
	  &:before {
	    content: $icon-refresh;
	  }
	}

.icon.invoice { 
	  &:before {
	    content: $icon-invoice;
	  }
	}

.icon.magnifier { 
	  &:before {
	    content: $icon-magnifier;
	  }
	}

.icon.check { 
	  &:before {
	    content: $icon-check;
	  }
	}

.icon.close { 
	  &:before {
	    content: $icon-cross;
	  }
	}

.icon.plus { 
	  &:before {
	    content: $icon-plus;
	  }
	}

.icon.minus { 
	  &:before {
	    content: $icon-minus;
	  }
	}
.icon.up { 
	  &:before {
	    content: $icon-chevron-up;
	  }
	}

.icon.down { 
	  &:before {
	    content: $icon-chevron-down;
	  }
	}

.icon.left,
.icon.back { 
	  &:before {
	    content: $icon-chevron-left;
	  }
	}

.right { 
	  &:after {
	    content: $icon-chevron-right;
	  }
	}

.icon.right-before { 
	  &:before {
	    content: $icon-chevron-right;
	  }
	}

.icon.expand { 
	  &:before {
	    content: $icon-expand;
	  }
	}

.icon.status-warning { 
	  &:before {
	    content: $icon-notification;
	  }
	}

.icon.status-danger { 
	  &:before {
	    content: $icon-warning;
	  }
	}

.icon.status-ok { 
	  &:before {
	    content: $icon-check-circle;
	  }
	}



.icon.menu,
.icon.orders { 
	  &:before {
	    content: $icon-menu;
	  }
	}

.icon.file-pdf { 
	  &:before {
	    content: $icon-file-pdf;
	  }
	}

.icon.file-excel { 
	  &:before {
	    content: $icon-file-excel;
	  }
	}

.icon.file-technical{ 
	  &:before {
	    content: $icon-file-technical;
	  }
	}

.icon.status-info { 
	  &:before {
	    content: $icon-info;
	  }
	}

.icon.save-as { 
	  &:before {
	    content: $icon-save-as;
	  }
	}

.icon.square { 
	  &:before {
	    content: $icon-square;
	  }
	}

.icon.check-square { 
	  &:before {
	    content: $icon-check-square;
	  }
	}






