/* ==========================================================================
   	FOOTER
   ========================================================================== */

  #footer{
    @include box-shadow(inset 0 0 10px rgba(0,0,0,0.08));
    font-size: 0.9em;
    background: $gray-lighter;
    padding-top: 2em;
    padding-bottom: 2em;
    color: $gray;
    line-height: 1.8em;

    a{
      display: inline-block;
      border-bottom: 1px solid $gray;
      color: $gray-darker;
      line-height: 1.2em;

        &:hover{
          color: $brand-primary;
          border-bottom-color: $brand-primary;
          text-decoration: none;
      }
    }

    img{
      @extend .img-responsive;
      margin-bottom: 1em;
      max-width: 15em;
    }

    h4{
       @extend .title-border;
       text-transform: uppercase;
       color: $gray-darker;
       font-weight: normal;

       &:after{
        margin: 1em 0 1em 0;
        width: 2em;
       }

    }

    .bottom{
      padding-top: 2em;
      margin-top: 4em;
      font-size: .9em;
      border-top: 1px solid $gray-light;

      .links ul{
      display: inline-block;
      margin: 0;
      padding: 0;
        li{
          display: inline-block;
          padding: 0 2em;
          border-left: 1px solid $gray-light;
          &:first-child{
            border: none;
            padding: 0 2em 0 0;
          }
        }
      }

      a{
        color: $gray;
        border-color: $gray;
      }
    }
}


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

  #footer{
    padding-top: 3.5em;
    padding-bottom: 3.5em;

    .container-fluid{
      padding-left: 0;
      padding-right: 0;
    }

    img{
      margin-right: 3em;
    }
    .column.info{
        @include make-col-grid(4);
        
    }

    .column.contact{
        @include make-col-grid(5);

        .column.address{
          @include make-col-grid(6);
        }
    }

    .column.service{
      @include make-col-grid(3);
    }

}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {


  #footer{

    .column.info{
        @include make-col-grid(3);
    }
    .column.contact{
        @include make-col-grid(5);
        @include col-grid-offset(1);

        .column.address{
          @include make-col-grid(5);
        }
      }
    }

  }

}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {

  #footer{

  }

}

/* Mobile styles (smartphones, 768px and down) // use exeptional
   -------------------------------------------------------------------------- */

@media (max-width: $screen-md-min) {

}