


/* ==========================================================================
   MAIN FORM
   ========================================================================== */

	select, input, textarea{
		border-radius: 0px;
	}
	
	.form-control{
		border-radius: 0px;
		border-color: darken($gray-light, 3%);
		background-color: $gray-lighter;
		padding: .8em 1.5em;
		letter-spacing: .02em;
		font-size: .95em;
		height: 38px;

		&:focus, &:active{
			background-color: white;
			outline: none;
			border-color: $brand-accent;
			@include box-shadow(none);
		}
	}

   .form-horizontal{
   	padding-top: 2em;
   	label{
   		font-size: .9em;
   	}
   }


	table input{
		@extend .form-control;
		display: inline-block;
		width: 40px;
		height: 40px;
		padding: 0;
		text-align: center;
		font-size: .95em;
		margin-right: 5px;
	}

/* ==========================================================================
   SEARCH FORM
   ========================================================================== */

	.search{

		.input-group{
			position: relative;
		}

		.input-group-addon{
			position: absolute;
			right: 0;
			top: 0;

			button{
				text-transform: uppercase;
				font-size: .9em;
			    color: $gray-darker;	
			    margin: 0;
			    padding-left: 35px;
			    &.icon:before{
			    	color: $gray-darker;
			    	left: 5px;
			    }
			    &:hover, &.icon:before:hover{
			    	color: $gray-darker;
			    }
			}
		}
 
		.form-control{
		    border-right:0; 
			@include box-shadow(inset 0 0 5px rgba(0,0,0,0.05));
			border-color:$gray-light;
		}

		button{
		    border:0;
		    background:transparent;
		}
	}



/* ==========================================================================
   DROPDOWN FORM
   ========================================================================== */

   #top-nav .dropdown-menu{

   	form{
   	padding: 1em;
   	}

   	.form-item{
   		margin-top: .8em;
   	}

   	.form-control{
   		padding: .5em 1em;
   		font-size: 1.2em;
   	}

   	> li  a.small{
   		padding: .8em 0 1em 0;
   		display: inline-block;

   		&:hover{
   			background: none;
   		}
   	}

   	label{
   		font-weight: normal;
   	}

	.btn.btn-filter{
		font-size: 1em;
		display: block;
		width: 100%;
		display: block;
		margin-top: 0;
		&:before{
			color: $brand-primary;
		}
	}
   }


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {

}

/* Mobile styles (smartphones, 768px and down)
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {

}

