/* ==========================================================================
   	HEADER
   ========================================================================== */

/* mobile header */

#mobile-header{
	@extend .clearfix;
	padding: $mobile-padding;
	@include box-shadow(0 0 20px rgba(0,0,0,0.4));
	background: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $header-height-mobile;
	z-index: 3;
	display: block;
	border-bottom: 1px solid $gray-lighter;


	.mobile-menu,
	.user-actions{
		@include make-col-grid(3);
	}

	.user-actions .cart{
		position: relative;
		top: -5px;
		padding: 0;
		font-size: .85em;

		&:hover{
			text-decoration: none;
		}

		&:before{
			position: absolute;
			top: 15px;
			color: darken($brand-accent, 3%);
			font-size: 2em;
			left: -3px;
		}
	}
	.brand{
		@include make-col-grid(6);
		img{
		@extend .img-responsive;
		max-height: 40px;
		margin: 0 auto;
		}
	}

	.search{
		padding: $mobile-padding 0;

		.btn{
			&:before{
				width: 100%;
				margin-left: -5px;
			}
		}
	}
}

/* desktop header */

#top-nav{
	@extend .clearfix;
	display: none;
}

#header{
	display: none;
	@extend .clearfix;


    .shopping-cart{
    	a{
    		display: block;
    	}
	}

	.menu-toggle{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
	}

	.brand{
		&:hover{
			text-decoration: none;
		}
		img{
			@include transition(.3s);
			display: block;
		}

		span{
			text-align: center;
			display: block;
			text-transform: uppercase;
			color: $gray-medium;
			font-size: .8em;
			padding-top: 5px;
		}
	}

	

}



/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

	#mobile-header{
		display: none;
	}

	#top-nav{
		display: block;
		padding: .3em 0 1em 0;
		.info{
			@include make-col-grid(4);
		}
		.utility{
			@include make-col-grid(8);
			text-align: right;
		}

	}

	#header{
		display: block;
		padding-bottom: 2em;

	    .brand {
	    	@include make-col-grid(3);
	    	text-align: left;

	    	a{
	    		display: block;
	    		
	    	}

			img{
				max-width: 100%;
				display: block;
				margin-right: 50px;
				margin-top: -5px;
			}
		}

		.search{
			@include make-col-grid(5);
		}
	    	
	    .shopping-cart{
	    	@include make-col-grid(4);
    	}

	}
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

	#top-nav{
	
	}

	#header{

	    .brand {
	    	@include make-col-grid(3);

	    	a{
	    		padding-right: 30px;
	    	}
		}

		.search{
			@include make-col-grid(6);
		}
	    	
	    .shopping-cart{
	    	@include make-col-grid(3);
    	}

	}

}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {

	#header{

	    .brand {

	    	a{
	    		padding-right: 60px;
	    	}
	    }
	}
}



/* Mobile styles (smartphones, 768px and down) // use exeptional
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {

}


/* Mobile styles for iPhone 5 and lower    -------------------------------------------------------------------------- */

@media screen and (device-aspect-ratio: 2/3) {

	#mobile-header{

		font-size: .9em;

		.user-actions{
			@include make-col-grid(4);
		}

		.brand{
			@include make-col-grid(5);
		}
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	#mobile-header{
		font-size: .9em;

		.user-actions{
			@include make-col-grid(4);
		}

		.brand{
			@include make-col-grid(5);
		}
	}
}