
:hover, :focus, :active{
	outline: none!important;
}
/* ==========================================================================
	Read more
   ========================================================================== */


a.to-article{
	@extend .btn;
}

a.more{
	display: inline-block;
	font-style: italic;
	color: $gray-dark;
	font-size: .95em;
	margin-top: 1em;
}




/* ==========================================================================
	LINK GROUP
   ========================================================================== */


.link-group, .link-group li{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.link-group{
	background: $white-trans-high;
	border: 1px solid  $border-base;
	border-radius: $border-radius-base;
	font-size: .95em;

	li{
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $border-base;
		float: left;
		&:first-child{
			border-width: 0;
		}
	}


	a{
		display: inline-block;
		float: left;
		padding: .7em 1em;
		color: $text-color;

		&:hover, &:focus, &:active{
			text-decoration: none;
			background: $gray-lighter;
			color: $brand-primary;
		}
	}
}


/* ==========================================================================
	BUTTONS
   ========================================================================== */



.btn{
	font-family: $font-family-base;
	border-radius: 0px;
	background-color: $gray-lighter;
	@include gradient(lighten($gray-lighter, 4%), $gray-lighter);
	border-color: $border-color;
	padding: 0 1em;
	font-size: .9em;
	letter-spacing: .02em;
	display: inline-block;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 1em;
	height: 38px;

	&.icon{
		position: relative;
		padding-left: 34px;
		font-size: .75em;
	}

	&.icon:before{
		font-size: 13px;
		color: $gray-darker;
		position: absolute;
		padding: 0;
		top: 0;
		bottom: 0;
		left: 0;
		width: 30px;
		line-height: 36px;
		background: transparent!important;
	}

	&.icon.border{
		padding-left: 40px;
		margin-right: 1em;
		margin-bottom: 1em;
	}

	&.icon.border:before{
		font-size: 1em;
		color: $gray-darker;
		position: absolute;
		padding: 0;
		top: 0;
		bottom: 0;
		left: 0;
		font-size: 14px;
		width: 30px;
		border-right: 1px solid $border-color;
		line-height: 36px;
		background: darken($gray-lighter, 2%);
	}

	&.icon.border-after{
		padding-right: 40px;
		margin-right: 1em;
		margin-bottom: 1em;
		padding-left: .5em;
		margin-left: 0;

	}

	&.icon.border-after:after{
		font-size: 1em;
		color: $gray-darker;
		position: absolute;
		padding: 0;
		top: 0;
		bottom: 0;
		right: 0;
		font-size: 1em;
		width: 30px;
		border-left: 1px solid $border-color;
		line-height: 36px;
		background: darken($gray-lighter, 2%);
	}

	&.icon.border-after:before{
		display: none;
	}
	

	&:hover{
		background: $gray-lighter;

		&.icon:before{
			background: $gray-lighter;
		}
	}

	&:active, &:focus, &:active:focus{
		position: relative;
		top: 1px;
		background-color: $gray-light;
		@include box-shadow(none);
		color: $gray-darker;

		&.icon:before{
			background: $gray-lighter;
			@include box-shadow(inset 0,0,3,rgba(0,0,0,0.1));
		}
	} 

	&.btn-primary{
		color: $gray-darker;
		border: 1px solid $brand-accent;
		padding-left: 1.5em;
		padding-right: 1.5em;
		font-size: .85em;

		@extend .icon;
		@extend .right;

		&:hover{
			border: 1px solid darken($brand-accent, 8%);
		}

		&:active, &:focus, &:active:focus{
			color: darken($brand-accent, 8%);
			border-color: darken($brand-accent, 8%);
			background-color: $gray-light;
		}

		&.cart{
			color: darken($brand-accent, 4%);

			&:before{
				color: darken($brand-accent, 4%);
				border: none;
				background: none;
				font-size: 18px;
				left: 15px;
			}

			&:hover{
				color: darken($brand-accent, 4%);
			}

			&:hover:before, &:hover:after{
				color: darken($brand-accent, 4%);
			}

		}


		&.cart-add{
			border: 1px solid darken($brand-accent, 4%);
			text-align: center;
			display: block;
			padding-left: 30px;
			color: darken($brand-accent, 4%);

			&:before{
				font-size: 22px;
				color: darken($brand-accent, 4%);
				padding: 0;
				text-align: center;
			}

			&:after{
				display: none;
			}
		}

	}

	&.btn-default{
		@extend .btn;
	}


	&.icon:after{
		float: right;
		font-size: .9em;
		padding-left: 1em;
	}

	&.btn-filter{
		border: 1px solid $brand-primary;
		color: $brand-primary;

		&:hover{
			border-color:lighten($brand-primary, 5%);
		}
	}

	&.btn-filter-result{
		background: $brand-primary;
		color: white;
		border: 1px solid $brand-primary;

		&:hover{
			background: lighten($brand-primary, 5%);
			color: white;
			border-color: lighten($brand-primary, 5%);
		}
	}


}

table .btn.icon,
table .btn.icon.cart-add{
			padding: .5em;
			width: 40px;
			height: 40px;
			text-align: center;
			display: inline-block;
			top: 0;

			&:before{
				padding: 0;
				width: 40px;
				text-align: center;
				height: 40px;
				line-height: 40px;
				font-size: .9em;
			}

		&.cart-add{
			border: 1px solid darken($brand-accent, 4%);
			font-size: 1.8em;

			&:before{
				color: darken($brand-accent, 4%);
			}

		}

		&.plus, &.minus{
			width: 30px;

			&:before{
				width: 30px;
			}
		}
	}

table{

	input{
		margin-top: 2px;
	}

	input + .btn.plus{
		margin-left: .5em;
	}

	.btn.minus + .cart-add{
		margin-left: .5em;
	}
}








/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {
}