/* =============================================================================
   CUSTOM MIXINS & EXTEND CLASSES
   ========================================================================== */
	
	.box-shadow{
		@include box-shadow(0 2px 5px rgba(0,0,0,0.05));
	}

	.box-shadow-large{
		@include box-shadow(0 2px 10px rgba(0,0,0,0.15));
	}



	/*  Vertical align
		------------------------------------------------------------------------- */

		@mixin vertical-align($position: relative) {
		  position: $position;
		  top: 50%;
		  @include translate(0, -50%);

		}

	/*  Box
		------------------------------------------------------------------------- */	
		
		.box {
			padding: 12px 20px;
			display: block;
			border-radius: $border-radius-base;
			border: 1px solid $gray-light;
			background: $gray-lighter;
			@include transition(.3s);


			@media (max-width: $screen-md-min) {
	  			margin-bottom: 1em;
	  		}

		}

		a.box{
			cursor: pointer;
			&:hover, &:focus, &:active{ 
				background: lighten($gray-lighter, 2%);
				text-decoration: none;
			}
		}

		.box-small{
			@extend .box;
			padding: 5px 10px 6px 10px;
		}

		.box-white{
			@extend .box;
			background: white;
			@include box-shadow(0 2px 5px rgba(0,0,0,0.05));

		}

		.accent .box{
			border-color: $brand-accent;
		}
		

	/*  Css triangle
		------------------------------------------------------------------------- */	
		@mixin triangle($size, $color, $direction) {
		    height: 0;
		    width: 0;
		    border-color: transparent;
		    border-style: solid;
		    border-width: $size / 2;

		    @if $direction == up {
		      border-bottom-color: $color;
		    } @else if $direction == right {
		      border-left-color:   $color;

		    } @else if $direction == down {
		      border-top-color:    $color;

		    } @else if $direction == left {
		      border-right-color:  $color;
		    }
		}

	/*  Title border
		------------------------------------------------------------------------- */
		.title-border {
			position: relative;
			&:after{
			content:"";
			display: block;
			border-bottom: 3px solid $brand-accent;
			margin: 1.5em 0 0 0;
			width: 40px;
			height: 4px;
			}

		}


	/*  Font awesome icon
		------------------------------------------------------------------------- */
		.fa-icon, 
		.custom-icon {
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:before{

			}

		}

		.fa-icon{
		  font-family: FontAwesome; 
		}

		.custom-icon{
			font-family: "custom";
			font-size: 0.9em;
		}


	/*  Rounded corners
		------------------------------------------------------------------------- */
		@mixin roundedCorners($radius){
			-webkit-border-radius: $radius; 
			-moz-border-radius: $radius; 
			border-radius: $radius;	
			behavior: url(css/pie/PIE.htc); 
		}

		@mixin roundedLeft($radius){
			-webkit-border-radius:$radius 0 0 $radius;
			-moz-border-radius: $radius 0 0 $radius;
			border-radius: $radius 0 0 $radius;
			behavior: url(css/pie/PIE.htc);
		}

		@mixin roundedRight($radius){
			-webkit-border-radius: 0 $radius $radius 0 ;
			-moz-border-radius: 0 $radius $radius 0;
			border-radius: 0 $radius $radius 0;
			behavior: url(css/pie/PIE.htc);
		}

		@mixin roundedTop($radius){
			-webkit-border-radius:$radius $radius 0 0;
			-moz-border-radius: $radius $radius 0 0;
			border-radius: $radius $radius 0 0;
			behavior: url(css/pie/PIE.htc);
		}


		@mixin roundedBottom($radius){
			-webkit-border-radius:0 0 $radius $radius;
			-moz-border-radius: 0 0 $radius $radius;
			border-radius: 0 0 $radius $radius;
			behavior: url(css/pie/PIE.htc);
		}


		@mixin roundedLeftBottom($radius){
			-webkit-border-radius: 0 0 0 $radius;
			-moz-border-radius: 0 0 0 $radius;
			border-radius: 0 0 0 $radius;
			behavior: url(css/pie/PIE.htc);
		}
		@mixin roundedLeftTop($radius){
			-webkit-border-radius:$radius 0 0 0;
			-moz-border-radius: $radius 0 0 0;
			border-radius: $radius 0 0 0;
			behavior: url(css/pie/PIE.htc);
		}
		@mixin roundedRightTop($radius){
			-webkit-border-radius: 0 $radius 0 0;
			-moz-border-radius: 0 $radius 0 0;
			border-radius: 0 $radius 0 0;
			behavior: url(css/pie/PIE.htc);
		}
		@mixin roundedRightBottom($radius){
			-webkit-border-radius: 0 0 $radius 0;
			-moz-border-radius: 0 0 $radius 0;
			border-radius: 0 0 $radius 0;
			behavior: url(css/pie/PIE.htc);
		}


	/*  Box shadow + no ie fallback via PIE.htc because of bad quality
		------------------------------------------------------------------------- */	
		@mixin boxShadow($value){
			-webkit-box-shadow: $value;
			-moz-box-shadow: $value; 
			box-shadow: $value;	
		}	
	
	/*  Gradient + ie fallback via PIE.htc
		------------------------------------------------------------------------- */	
		@mixin gradient($top-hex, $bottom-hex){	
			background: $bottom-hex;
			-pie-background: linear-gradient($top-hex, $bottom-hex);
			behavior: url(css/pie/PIE.htc); 			
			//filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr="$top-hex~", endColorstr="$bottom-hex~",GradientType=0 )";
			background: -moz-linear-gradient(top, rgb(red($top-hex),green($top-hex),blue($top-hex)) 0%, rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(red($top-hex),green($top-hex),blue($top-hex))), color-stop(100%,rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgb(red($top-hex),green($top-hex),blue($top-hex)) 0%,rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgb(red($top-hex),green($top-hex),blue($top-hex)) 0%,rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgb(red($top-hex),green($top-hex),blue($top-hex)) 0%,rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)) 100%); /* IE10+ */ 
			background: linear-gradient(top, rgb(red($top-hex),green($top-hex),blue($top-hex)) 0%,rgb(red($bottom-hex),green($bottom-hex),blue($bottom-hex)) 100%); /* W3C */	
		}


		// Horizontal gradient 4stops , from left to right
		//
		// Creates two color stops, start and end, by specifying a color and position for each color stop.
		// Color stops are not available in IE9 and below.
		@mixin gradient-horizontal-4($start-color: #555, $start-color2: #555, $start-color3: #555, $end-color: #555, $start-percent: 0%, $start-percent2: 65%, $start-percent3: 66%, $end-percent: 100%) {
		  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $start-color2 $start-percent2, $start-color3 $start-percent3,  $end-color $end-percent); // Safari 5.1-6, Chrome 10+
		  background-image: -o-linear-gradient(left, $start-color $start-percent, $start-color2 $start-percent2, $start-color3 $start-percent3,  $end-color $end-percent); // Opera 12
		  background-image: linear-gradient(to right, $start-color $start-percent, $start-color2 $start-percent2, $start-color3 $start-percent3,  $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
		  background-repeat: repeat-x;
		}




	/*  Transforms
		------------------------------------------------------------------------- */
		// generic transform
		@mixin transform($transforms) {
			   -moz-transform: $transforms;
			     -o-transform: $transforms;
			    -ms-transform: $transforms;
			-webkit-transform: $transforms;
		          transform: $transforms;
		}

		// rotate
		@mixin rotate ($deg) {
		  @include transform(rotate(#{$deg}deg));
		}
		 
		// scale
		@mixin scale($scale) {
			 @include transform(scale($scale));
		} 
		// translate
		@mixin translate ($x, $y) {
		   @include transform(translate($x, $y));
		}
		// skew
		@mixin skew ($x, $y) {
		   @include transform(skew(#{$x}deg, #{$y}deg));
		}
		//transform origin
		@mixin transform-origin ($origin) {
		    moz-transform-origin: $origin;
			     -o-transform-origin: $origin;
			    -ms-transform-origin: $origin;
			-webkit-transform-origin: $origin;
		          transform-origin: $origin;
		}


	/*  Transition
		------------------------------------------------------------------------- */
		@mixin transition($val){ 
			-webkit-transition: $val;
			-ms-transition: $val;
			-moz-transition: $val;
			-o-transition: $val;
			transition: $val;
		}

		@mixin transform($val){
			-moz-transform: $val; 
			-webkit-transform: $val;
			-o-transform: $val;
			-ms-transform: $val;
			transform: $val;
		}


	/*  Background
		------------------------------------------------------------------------- */
		
		@mixin cover-bg($abs_path_img) {
		    background: url($abs_path_img) center center no-repeat transparent;
		    background-size: cover;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    //filters are not relative to css, they require a full server path
		    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${abs_path_img}', sizingMethod='scale'); 
		    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${abs_path_img}', sizingMethod='scale')";
		}


	/*  Grid
		------------------------------------------------------------------------- */


	.no-gutter{
		margin: 0;

		> div{
			padding-right:0;
	    	padding-left:0;
		}
	}

	// Create your own columns based on bootstrap grid

	@mixin make-col-grid($columns, $gutter: $grid-gutter-width) {
	  position: relative;
	  min-height: 1px;
	  padding-left:  ($gutter / 2);
	  padding-right: ($gutter / 2);
	  float: left;
	  width: percentage(($columns / $grid-columns));
	}

	@mixin col-grid-offset($columns) {
	   margin-left: percentage(($columns / $grid-columns));
	}

	// Create your own columns with custom width

	@mixin make-col($col-width, $gutter: $grid-gutter-width) {
		position: relative;
	  	min-height: 1px;
	  	padding-left:  ($gutter / 2);
	  	padding-right: ($gutter / 2);
	  	float: left;
	  	width: $col-width;
	}