/* ==========================================================================
   NAVIGATION
   ========================================================================== */


/* Mobile menu toggle link */

.mobile-menu{

	 .menu-toggle{
		text-decoration: none;
		background: $brand-primary;
		color: white!important;
		display: block;
		color: white;
		text-decoration: none;
		background: $brand-primary;
		text-transform: uppercase;
		font-size: .8em;
		border: none;
		padding-left: 20px;

		&:before{
			color: white;
			font-size: 1.5em;
			left: 0px;
		}

		&:hover{
			color: white!important;
			text-decoration: none;
			background: $brand-primary;
			@include transition(ease-in-out 0.3s);
		}

		&:active, &:focus{
			color: white!important;
			text-decoration: none;
			background: darken($brand-primary, 5%);
		}


	}
}

.user-actions{
	.account-toggle{
		width: 40px;
		float: right;
		text-align: center;

		&:before{
			padding: 0;
			font-size: 1.3em;
			width: 100%;
		}
	}
}


/* Mobile navigation left */


.menu-overlay,
.filters-overlay{
	background: $gray-light;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 4;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	@include transition(.3s);
}


.nav-open .menu-overlay{
	display: block;
}


.filters-open .filters-overlay{
	display: block;
}


.offcanvas,
.offcanvas-filters{
	display: block;
    position: fixed;
	left: -100%;
	 @include transition(ease-in-out 0.3s);
	 z-index: 5;
}


.nav-open .offcanvas,
.filters-open .offcanvas-filters {
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    overflow: hidden;
    cursor: default;
    background: white;
    color: $gray-darker;
    overflow-x: hidden;
    overflow-y: auto;
    @include transition(ease-in-out 0.3s);
    @include box-shadow(0 0 10px rgba(0,0,0,0.5));

    .close{
    	float: right;
    	padding: 15px;
    	font-weight: normal;

    }

    .copyright{
    	margin: 0px 25px 20px 25px;
    	font-size: .8em;
    }
    

    h3{
    	margin: 15px 0 15px 15px;
    	font-family: LatoLatinWebLight;
    	font-size: 1.8em;
    	padding: 0;
    }

		a{
			color: $gray-darker;
			font-weight: 600;

				span{
					color: $gray-darker;
					padding-left: 1em;
				}

				&:hover{
					text-decoration: none;
				}
		}



}

.offcanvas-filters{
	padding-bottom: 30px;

	.btn-group{
		position: fixed;
		@extend .box-shadow-large;
		background: white;
		bottom: 0;
		left: 0;
		padding: 10px 20px;
		font-size: .8em;
		width: 90%;
		left: -100%;
		text-align: center;
		@include transition(ease-in .3s);

		.btn{
			margin-right: 10px;
		}
	}
}

.filters-open .offcanvas-filters{
	.btn-group{
		left: 0;
	}
}

/* collapsible navigation in mobile menu */


.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
	position: absolute;
	opacity: 0;
}

.cd-accordion-menu{
	ul,li{
		list-style: none;
	}
}

.cd-accordion-menu {
	max-width: 100%;
	margin: 0 25px;
	padding: 1em 0 2em 0;

	ul {
		/* by default hide all sub menus */
		display: none;
		padding: 0;
		background-color: $gray-lighter;
		
	}

	a{
		display: block;
		padding-top: $item-padding-M;
		padding-bottom: $item-padding-M;
	}

	/* first level with uppercase font */

	> li {
		@include user-select(none);
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1.7em;
		font-size: .9em;


		input[type=checkbox] {
			/* hide native checkbox */
			position: absolute;
			opacity: 0;
		}

		> label{
			display: block;
			border-bottom: 1px solid $gray-darker;
			margin: 0;
			padding-bottom: .3em;
		}

		> a {
			position: relative;
			display: block;
			color: $gray-darker;
			font-size:1.1em;
			padding-top: $item-padding-M;
			padding-bottom: $item-padding-M;

		}

		> label {
			cursor: pointer;
			@extend .icon;
			&:after{
				content: $icon-chevron-right;
				font-size: .95em;
				margin-left: $item-padding-S;
				float: right;
				font-weight: bold;
			}

		}

		> input[type=checkbox]:checked + label:after{
			content: $icon-chevron-down;
		}


	}



	li > input[type=checkbox]:checked + label + ul,
	li > input[type=checkbox]:checked + label:nth-of-type(n) + ul {
		/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
		/* show children when item is checked */
		display: block;
		border: 1px solid $gray-light;


		> li{
			border-top: 1px solid $gray-light;

		}

		li.has-children{
			position: relative;
			background-color: lighten($gray-light,3%);

			> a{
				border-right: 1px solid $gray-light;
				margin-right: $item-padding-M*5;
				background: $gray-lighter;

			}

			> label{
				position: absolute;
				z-index: 6;
				right: 0;
				top: 0;
				bottom: 0;
				width: $item-padding-M*5;
				height: $item-padding-M*4;
				display: block;
				padding-top: $item-padding-M;
				padding-bottom: $item-padding-M;
				text-align: center;
				@extend .icon;

				&:after{
					content: $icon-plus;
					padding: 0;
					margin: 0 auto;
					font-size: .8em;
					position: absolute;
					right: 3px;
					top: 4px;
					border: 1px solid transparent;
					padding: 10px;
				}

			}

			> input[type=checkbox]:checked + label:after{
				content: $icon-minus;
				font-weight: bold;
				color: $brand-primary;

			}


		}

			/* li active */

			li.active{
				background: white;
					> a{
					color: $brand-primary;
					background: white;
					font-weight: bold!important;
					}

					> label{
							color: $brand-primary;
							font-weight: bold;
						&:after{
							color: $brand-primary;
							font-weight: bold;
						}
					}
				} 


	}

	.filters-chosen{
		border: none;
		max-width: 70vw;
		overflow: hidden;
		padding: .5em 0;
		
		.btn{
			margin-bottom: .5em;
		}
	}

	.no-expand{

			li{
				position: relative;
				background-color: lighten($gray-light,3%);
			}


			input[type=checkbox]{
				position: absolute;
				clip: rect(0,0,0,0);
			}

			
			input[type=checkbox] + label{
				height: auto;
				line-height: inherit;
				padding-top: $item-padding-M;
				padding-bottom: $item-padding-M;
				padding-left: 10px;
				font-weight: normal;
				text-transform: none;
				background: $gray-lighter;
				display: block;
				cursor: pointer;
				font-size: 1.05em;

				@extend .icon;
				@extend .square;

			    &:before{
			    	position: absolute;
			    	right: 0;
			    	top: 0;
			    	height: ($item-padding-M*5)-1;
			    	width: $item-padding-M*5;
			    	line-height: $item-padding-M*5;
			    	border-left: 1px solid $gray-light;
			    	text-align: center;
			    	color: $gray-light;
			    	background: white;
			    	font-size: 1.5em;
			    	padding: 0;
				}

			}

			input[type=checkbox]:checked + label{
				color: $brand-primary;
				font-weight: bold;
				@extend .check-square;

			    &:before{
					color: $brand-primary;
				}
			}
			    
		}



	/* Menu indents /_*/

	/* sublevel 1 */

	li > input[type=checkbox]:checked + label + ul  {

			>li > a{
				padding-left: 10px;
				font-weight: normal;
				font-size: 1.05em;
				text-transform: none;

			}

			/* sublevel 2 */

			> li > input[type=checkbox]:checked + label + ul  {	
				border: none!important;


				>li > a{
					padding-left: 30px;
										
				}

				/* sublevel 3 */

				> li > input[type=checkbox]:checked + label + ul{	

					>li > a{
						padding-left: 60px;
					
					}

					/* sublevel 4 */

					> li > input[type=checkbox]:checked + label + ul{	

						>li > a{
							padding-left: 90px;
														
						}

						/* sublevel 5 */

						> li > input[type=checkbox]:checked + label + ul  {	

							>li > a{
								padding-left: 120px;
																	
							}
						}

					}
				}
			}
		}

}
.cd-accordion-menu.catalog-filters-inner{
	/* first level in sidebar */

		background-color: $gray-lighter;
		border: 1px solid $gray-light;
		margin: 0;
		padding: 0;

		> li {
				position: relative;
				background-color: lighten($gray-light,3%);
				font-weight: normal;
				font-size: .9em;
				text-transform: none;
				margin: 0;
				padding: 0;
				border-top: 1px solid $gray-light;

				&:first-child{
					border-top: none;
				}

			> a{
				border-right: 1px solid $gray-light;
				margin-right: $item-padding-M*5;
				background: $gray-lighter;
				padding-left: 10px;

				&:hover{
					text-decoration: none;
				}
			}


			> label{
				position: absolute;
				z-index: 6;
				right: 0;
				top: 0;
				width: $item-padding-M*5;
				height: $item-padding-M*5;
				display: block;
				padding-top: $item-padding-M;
				padding-bottom: $item-padding-M;
				text-align: center;
				@extend .icon;
				border: none;

				&:after{
					content: $icon-plus;
					padding: 0;
					margin: 0 auto;
					font-size: .8em;
					position: absolute;
					right: 3px;
					top: 4px;
					border: 1px solid transparent;
					padding: 10px;
				}

			}

			> input[type=checkbox]:checked + label:after{
				content: $icon-minus;
				font-weight: bold;
				color: $brand-primary;

			}

			/* li active */

			&.active{
				background: white;
					> a{
					color: $brand-primary;
					background: white;
					font-weight: bold!important;
					}

					> label{
						&:after{
							color: $brand-primary;
							font-weight: bold;
						}
					}
				} 

			> input[type=checkbox]:checked + label + ul {
				border-left: none!important;
				border-right: none!important;
				border-bottom: none!important;

				>li > a{
					padding-left: 30px;
					font-weight: normal;
					font-size: 1.05em;
					text-transform: none;

				}

				> li > input[type=checkbox]:checked + label + ul {

					>li > a{
						padding-left: 60px;

					}

					> li > input[type=checkbox]:checked + label + ul  {

						>li > a{
							padding-left: 90px;

						}

						> li > input[type=checkbox]:checked + label + ul {

							>li > a{
								padding-left: 120px;

							}

							> li > input[type=checkbox]:checked + label + ul  {

								>li > a{
									padding-left: 150px;

								}
							}
						}
					}
				}

			}

		}

	}



.cd-accordion-menu.catalog-filters-inner-check{
		margin: 0;
		padding: 0;

		> li{
			> label{
				border: none;
				margin-bottom: .8em;
				&:after{
				font-size: .9em;
				float: none;
				}
			}


		}
		li:first-child{
			border-top: none!important;
		}

		.no-expand li{
			background: lighten($gray-lighter,1%);
		}


	}






/* Top nav */

    #top-nav{

		.info,
		.utility{
	    	letter-spacing: .02em;
	    	text-transform: uppercase;
	    	font-size: .75em;


    	> ul{
    		list-style: none;
    		display: inline-block;
    		margin: 0;
    		padding: 0;

    		> li{
    			list-style: none;
    			display: inline-block;
    			/* border-right: 1px solid $gray-light;*/

    			&.phone{
    				font-weight: bold;

    				span, a{
						color: $gray-darker;
    				}

    				a{
    					padding-left: .5em;
    				}
    			}



    			&:last-child{
					border: none;
					margin: 0;
					padding: 0;
    			}

    			> a{
    				display: inline-block;
    				cursor: pointer;
    				text-transform: uppercase;
    				color: $gray;
    				text-decoration: none;
    				line-height: $top-nav-height;
    				height: $top-nav-height;
    				padding: 0 .5em;
    				/* @include transition(.2s);*/

    				&:hover{
    					color: $brand-primary;
    					text-decoration: underline;
    				}

    				&.dropdown-toggle{

    					&:hover, &.active{
    						color: white;
    						background-color: $brand-primary;
    						text-decoration: none;
    					}
    				}
    			}
    		}
    	}
    }

    .dropdown-menu{
    	@extend .pull-right;
    	border-radius: 0;
    	border: 3px solid $brand-primary;
    	font-size: 1em;
    	width: $dropdown-width;
		margin: 0;
		padding: 0;

		> li{
			border-top: 1px solid $gray-light;

			&.highlight{
				background: $brand-accent-light;
				
				a{
					color: darken($brand-accent, 3%);
					padding: 1.5em 1.5em;
					display: block;
					font-size: 1.05em;
					font-weight: bold;

				}
			}

			&:first-child{
				border: none;
			}

			a{
				display: block;
				clear: none;
				padding: .8em 1em;
				font-size: .95em;
				cursor: pointer;
				color: $gray-dark;

				strong{
					color: $gray-darker;
					font-weight: bold;
					font-size: 1.1em;
				}

				&.icon{
					height: $top-nav-height;
					line-height: $top-nav-height;
					padding: 0;
				}

    			&.icon:before{
					display: inline-block;
					margin-top: -1px;
					background: $gray-lighter;
					color: $gray-darker;
					height: $top-nav-height;
					width: $top-nav-height;
					line-height: $top-nav-height;
					border-right: 1px solid $gray-light;
					text-align: center;
					padding: 0;
					font-size: 1.4em;
					margin-right: .5em;
				}

				&:hover, &.icon:hover:before{
					background: lighten($gray-light, 3%);
					color: $gray-darker;
					cursor: pointer;
				}
			}



			&.actions{
				position: relative;
				a{
					text-align: right;
					width: 100%;
					color: $brand-primary;
					line-height: $top-nav-height;
					clear: none;
					display: inline-block;
					height: $top-nav-height;
					padding: 0 2em;
				}

				span{
					position: absolute;
					color: $gray;
					font-size: .9em;
					display: inline-block;
					line-height: $top-nav-height;
					height: $top-nav-height;
					padding: 0 2em;
				}
			}
    	}
    }

    a.language + .dropdown-menu{
    	width: $dropdown-width-smaller;
    }



    .info{
		> ul > li:first-child > a{
			padding-left: 0;
		}
    }
	
    .utility{
		> ul > li:last-child{

			 > a,
			 > .dropdown-menu{
			margin-right: -1em;
			}
		}
    }
  }

/* Main nav */

#main-nav{
	display: none;
	background: $brand-primary;
	margin-bottom: 1.2em;

	> ul{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: .8em;
	

	> li{
		display: inline-block;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid darken($brand-primary, 4%);
		border-right: 1px solid darken($brand-primary, 4%);


		&.dropdown{}
		> a{
			cursor: pointer!important;
			display: inline-block;
			height: $top-nav-height;
			line-height: $top-nav-height;
			padding: 0 1em;
			color: white;
			border-top: 2px solid transparent;
			border-left: 1px solid transparent;

			&.new{
				color: $brand-accent-lighter;
			}

			span{
				padding-bottom: .3em;
			}
		}

		&:hover{
			border-right: 1px solid $gray-light;
		}

		&.active > a,
		> a:hover, > a.dropdown-active{
			text-decoration: none;
			border-top: 2px solid $brand-accent;
			background: white;
			color: $gray-darker;
			position: relative;
			z-index: 4;
			border-left: 1px solid $gray-light;
			}

		> a:hover,
		&.active > a{
			background:  white;
		}

		> a.icon.home{
			height: auto!important;
			display: inline-block;
			color: white;
			&:before{
				font-size: 1.6em;
				padding: 0;

			}

			&:hover:before{
				color: $gray-darker;

			}
		}

		a.dropdown-active:hover{
			background: white;
		}

		> a:hover span{
			border-bottom: 2px solid $gray-dark;
		}

		}

		.dropdown-menu{
			visibility: hidden;
			@include box-shadow(none);
			text-transform: none;
			font-weight: normal;
			padding: 1.5em;
			border: 1px solid $gray-light;
			z-index: 3;
			border-radius: 0;
			width: 50vw;
			margin: -1px 0 0 0;
			background: white;

			@include transition-delay(.5s);

			> li{
				@extend .clearfix;
				display: block;
				width: 100%;
				border: none;
				font-size: .95em;

				> ul, > ul li{
					margin: 0;
					padding: 0;
				}

				> ul{
					padding-right: 15px;
				}

				> ul > li > a{
					height: auto;
					padding: .5em 0;
					line-height: 1.2em;
					color: $gray-dark;
					display: block;

					&:hover{

					}
				}

				ul{
					li{
						display: block;
						border: none;
					}
				}
			}

		}


	}
}


/* Left menu */

.leftmenu{
  text-transform: uppercase;
  font-size: .8em;
  border-width: 0px 1px 1px 1px;

  ul, li{
  	list-style: none;
  	margin: 0;
  	padding: 0;
  }


	a{
		padding: .9em 1em .9em 1.5em;
		cursor: pointer;
		display: block;

		&:hover{
			text-decoration: none;
			background-color: darken ($gray-lighter, 3%);
		}
	}
	
  	ul{
  		padding: .5em 0 .5em 0;
	  	border-style: solid;
	  	border-color: $gray-light;
	  	background: $gray-lighter;
	  	border-width: 1px;

		li{
			border-top: 1px solid $gray-light;
		
	  		&:first-child{
	  			border: none;
	  		}

			a{
				@extend .icon;
				@extend .right;

				&:after{
					float: right;
					font-size: 1em;
					color: $gray-dark;
				}
			}


	  		&.active{

	  			a, a:after{
	  				font-weight: bold;
		  			color: darken($brand-accent, 3%);	  				

	  			}
	  		}

		}


  }
}


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

	#main-nav{
		display: block;
	}

    #top-nav{
    	display: block;
		font-size: .95em;
	}

	.leftmenu{
		display: block;
	}

	.offcanvas{
		display: none;
	}

	.menu-toggle{
		display: none;
	}

	.vanopstal-mobile{
		display: none;
	}

	.filters-toggle{
		display: none;
	}
}


/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {


    #top-nav{
    	font-size: 1em;

			.info,
			.utility{

	    	> ul{


	    		> li{

	    			> a{
	    				padding: 0 1.5em;
	    			}
	    		}
	    	}
	    }
	}

	#main-nav{

		 > ul > li .dropdown-menu{
			visibility: visible;
		}
	}

	.leftmenu ul{
		border-width: 0px 1px 1px 1px;
		padding-top: 1.5em;
	}




}





/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {


}

/* Mobile styles overrides (smartphones, 768px and down) // use exceptionally
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {


}