/* ==========================================================================
   SECTIONS
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */

/* MAIN SECTION */

#main{
  line-height: 1.3em;
}

/* PAGE GENERAL */

.header-image{
  display: none;

  img{
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    display: block;
  } 
}

.page-images{
    @extend .clearfix;
    padding-bottom: 1em;

    figure{
      margin-bottom: .5em;
    }
}

/* FEATURED */

.featured{
  padding-bottom: 3em;
}

.catalog-new{
  ul, li{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      border-top: 1px solid $gray-light;
      margin-right: 2em;
    }

    &:first-child{
      border: none;
    }

    a{
      text-transform: uppercase;
      color: $gray-dark;
      padding: .7em 0;
      display: block;
      font-size: .9em;
      @extend .icon;
      @extend .right;

      &:after{
        float: right;
        font-size: .95em;
      }

      &:hover{
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

/* QUICK LINKS */

.quick-links{

  a{
    @extend .box;
    @include gradient(lighten($gray-lighter, 4%), $gray-lighter);
    display: block;
    position: relative;
    margin-bottom: 1em;
    padding-left: 45px;

    &:before{
      position: absolute;
      width: 35px;
      height: 35px;
      text-align: center;
      padding: 0;
      line-height: 35px;
      font-size: 1.2em;
      color: $brand-accent;
      border: 1px solid $gray-light;
      background: $gray-lighter;
      left: -1px;
      top: -1px;
    }

    &:hover{
      background: $gray-lighter;
    }


    h3, p{
      margin: 0;
      padding: 0;
    }

    h3{
      font-size: .9em;
      text-transform: uppercase;
      margin-top: -.4em;
      margin-bottom: .4em;
    }

    p{
      color: $gray;
      font-size: .9em;
      line-height: 1.4em;
    }
  }
}


/* NEWS OVERVIEW */

.article-list{

  article{
    border-bottom: 1px solid $gray-light;
    margin: 0 0 2em 0;
    padding: 0 0 2em 0;

    figure{
      margin-bottom: 1.5em;
    }

    h3{
      &:after{
        @extend .title-border;
        margin-top: 1em;
      }
      font-size: 1.5em;
      border: none;
      margin-bottom: 0;

      span{
        border-left: 1px solid $brand-primary;
        text-transform: uppercase;
        font-size: .75em;
        letter-spacing: .05em;
        color: $brand-primary;
        padding: 0 0 0 1em;
        margin: 0 0 0 1em;
        display: inline-block;
        line-height: 1em;
      }

    }

    a.btn{
      font-size: .9em;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: $gray-darker;
      border: 1px solid $gray-medium;
      margin-top: .4em;

      &:hover{
        color: $brand-primary;
        border-color: $brand-primary;
        background-color: lighten($gray-lighter, 2%);
      }
    }

    .info{
      line-height: 1.8em;
    }
  }

  &.search-results{

    h3{
      font-size: 1.1em;
      font-weight: normal;
      color: $brand-primary;
      text-decoration: underline;
      padding-bottom: 0;
      margin-bottom: .5em;

      &:after{
        display: none;
      }
    }

    article{
        margin: 0 0 0 0;
        padding: 1.5em 0.5em;
        border: none;
         > a{
          display: block;
            &:hover{
            text-decoration: none;

              h3{
                  color: lighten($brand-primary, 8%);
              }
            }
          }

      &:nth-child(even){
        background: lighten($gray-lighter, 2%);
      }
    }

    figure{
      height: auto;
      padding: 0;
      margin: 0;
      border: 1px solid $gray-lighter;
       img{
        display: block;
        padding: .5em;
        

      }
    }

    a > div{
       @extend .clearfix;
    }

    .info{
      font-size: .9em;
      line-height: 1.5em;
    }

    .meta{
      color: lighten($gray-dark, 20%);
      font-size: .9em;
      padding-top: .5em;
      line-height: 1.5em;
      font-style: italic;

      span{
        display: inline-block;
        padding: 0 1.5em 0 0;

      }
    }
  }
}


/* NEWS DETAIL */

span.date{
        border-right: 1px solid $brand-primary;
        text-transform: uppercase;
        font-size: .9em;
        letter-spacing: .05em;
        color: $brand-primary;
        padding: 0 1em 0 0;
        margin: 0 1em 0 0;
        display: inline-block;
        line-height: 1em;
      }

/* DOWNLOADS */

.grid{
  @extend .clearfix;

  ul, li{
    list-style: none;
  }

  ul{
    @extend .row;
    padding: 0;
  }

  li{
    @include make-col-grid(6);
    margin-bottom: 1em;
    a{
      @extend .box-white;
      h5{
        height: 2.9em;
        overflow: hidden;
        color: $gray-dark;
        text-align: center;
      }
    }
  }


  figure{
    background: white;
    height: 200px;
    overflow: hidden;
    display: block;
    text-align: center;
    margin-bottom: .5em;
    > img{
      max-height: 200px;
      display: inline-block;
    }
  }

}




/* Breadcrumbs */

.mobile-breadcrumbs{
  padding-bottom: 15px;
  font-size: .9em;
}

.breadcrumbs{ 
  display: none;
  font-size: 0.9em;
  padding: 0 0 1.6em 0;
  color: darken($gray-medium, 5%);

  .back{
    margin-right: 1em;
  }

  ul, li{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
      @extend .icon;
      @extend .right-before;

      &:before{
        font-size: .8em;
        padding-left: .5em;
      }

      &:first-child{ 
        &:before{
        content: '';
        padding: 0;
      }
    } 
 
    a{
      color: darken($gray-medium, 5%);
      padding: 10px 0;
      display: inline-block;

      &:hover{
        color: $gray-darker;
        text-decoration: none;
      }
    }
  }
}




/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {


/* Breadcrumbs */
.mobile-breadcrumbs{
  display: none;
}

.breadcrumbs{ 
  display: block;
}

/* Main columns */

  .header-image{
    display: block;
  }


  .page-images{
    @include make-col-grid(4);
    padding-top: .5em;
    float: right;
    margin-left: 2em;


  }

  .main-content{
    padding-bottom: 3em;
  }


}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {


#main{
  padding-left: 0;
  padding-right: 0;
}


/* downloads and other grids */

  .grid{

    li{
      @include make-col-grid(4);

    }


  }




}


/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {


/* downloads and other grids */

  .grid{
    li{
      @include make-col-grid(3);
    }
    
  }


}


/* Mobile styles (smartphones, 768px and down) // use exeptional
   -------------------------------------------------------------------------- */

@media (max-width: $screen-md-min) {



}

@media (min-width: $screen-xs-min) and (max-width: $screen-md-min){


}


