
/* ==========================================================================
   ALERTS
   ========================================================================== */
	
	.alert{
		line-height: 1.6em;
		margin-bottom: 1em;
		padding: 1em;

		&.alert-success:before,
		&.alert-success strong{
			color: $state-success-text-strong;
		}

		&.alert-info:before,
		&.alert-info strong{
			color: $state-info-text-strong;
		}

		&.alert-warning:before,
		&.alert-warning strong{
			color: $state-warning-text-strong;
		}

		&.alert-danger:before,
		&.alert-danger strong{
			color: $state-danger-text-strong;
		}

		 &:before{
			font-size: 1.4em;
			padding-right: .5em;
		}

		strong{
			font-size:1.05em;
			padding-right: .5em;
		}
	}

	.status{

		@extend .icon;
		font-weight: bold;
		white-space: nowrap;

		&.status-success{
			@extend .status-success;
		}

		&.status-info{
			@extend .status-info;
		}

		&.status-warning{
			@extend .status-warning;
		}

		&.status-danger{
			@extend .status-danger;
		}

		&.status-success, 
		&.status-success:before{
			color: $state-success-text-strong;
		}

		&.status-info,
		&.status-info:before{
			color: $state-info-text-strong;
		}

		&.status-warning,
		&.status-warning:before{
			color: $state-warning-text-strong;
		}

		&.status-danger,
		&.status-danger:before{
			color: $state-danger-text-strong;
		}


		 &:before{
		 	display: inline-block;
			font-size: 1.2em;
			padding-right: .3em;
			font-weight: bold;
		}

		strong{
			font-size:1.05em;
			padding-right: .5em;
		}
	}

/* ==========================================================================
   TAGS
   ========================================================================== */

.tags{
	 a{
	 	font-size: .9em;
		border:1px solid $gray-light;
		display:inline-block;
		color:#717171;
		background:#FFF;
		@include box-shadow(0 1px 1px 0 rgba(180,180,180,0.1));
		@include transition(.3s);
		margin:0 .5em .5em 0;
		padding: .3em 1em;
		border-radius: $border-radius-base;

		&:hover{
			border-color:darken($gray-light,2%);
			text-decoration: none;
			color: $gray-dark;
			background: $gray-lighter;
		}

		&.active{
			border-color:$gray-medium2;
			color: $gray-darker;	
		}
	}
}

.top-filters{
	padding: 1em 1.5em;
	margin-bottom: 2.5em;
	h5{
		margin-top: 1em;
		padding-bottom: .3em;
		font-size: .95em;
	}
}




/* ==========================================================================
   PAGINATION
   ========================================================================== */

.pagination-wrapper{
	text-align: center;
	border: 1px solid $gray-light;
	border-top: none;
	margin-top: -1em;
	border-top: none;
	background: lighten($gray-lighter, 1%);
	padding: .8em;
	font-size: .95em;
	margin-bottom: 1em;

	ul.pagination{
		margin: 0;
		padding: 0;
	}

	.pagination > li > a{
		color: $gray-dark;
	}

	li.active span,
	li.active span:hover{
		background-color: $gray-light;
		color: $gray-darker;
		border: 1px solid $gray-medium;
		font-weight: bold;

	}

	li.disabled{
		color: $gray;
	}
}


/* ==========================================================================
   IMAGES
   ========================================================================== */

   img{
   	border: none;
   	@extend .img-responsive;
   }

  figure{
    display: block;
    /*padding: .5em;*/
    text-align: center;

    img{
      max-width: 100%;
      height: auto;
    }
  }

/* ==========================================================================
   HR
   ========================================================================== */

	
  hr{
  	border-bottom: 1px solid $gray-light;
  	margin: 1.5em 0;
  }
   

/* ==========================================================================
   LOADER
   ========================================================================== */

.loader{

}

/* ==========================================================================
   DROPDOWNS, DROPUPS
   ========================================================================== */

.dropdown, .dropup{
	> ul, > ul > li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

 

/* ==========================================================================
   VIDEO
   ========================================================================== */

.video{
	iframe{
		width: 100%;
		max-width: 100%;
		min-height: 180px; 
	}
}

/* ==========================================================================
   BOX
   ========================================================================== */

.main-content{

	.box{
		margin-bottom: 1.5em;
	}
	
	.box .bodytext{
		font-size: .95em;
		color: $gray-dark;
		line-height: 1.8em;

	img{
		margin: 0 0 1em 0;
	}

	h3{
		margin: 0;
		font-size: 1.15em;
		padding: .5em 0 .7em 0;
	}

	strong{
		color: $gray-darker;
	}



}
}


/* ==========================================================================
   LIGHTBOX
   ========================================================================== */
/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;

    /* dimensions: spanning the background from edge to edge */
    position:fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 2147483647; /* z-index needs to be >= elements on the site. */

    /* position: centering content */
    text-align: center;

    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;

    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0);
  }

  .lightbox-content{
  	display: none;
		h5{
			padding-right: 40px;
		}
  }

  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }

  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;

    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;

    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;

    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;

    /* styling */
    background: #fff;
    cursor: auto;

    /* reset white-space wrapping */
    white-space: normal;
  }

  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }

  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;

    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;

    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff; /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    padding: 0;
  }

  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .featherlight .featherlight-image {
    /* styling */
    width: 100%;
  }


  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .featherlight iframe {
    /* styling */
    border: none;
  }

  .featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;

    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}

.lightbox{
  position: relative;
  display: inline-block;
  border: none!important;
  text-decoration: none!important;
  z-index: 1;
  text-align: center;

  @extend .icon;
  @extend .expand;

  &:before{
      display: block;
      width: 2.8em;
      height: 2.8em;
      position: absolute;
      line-height: 2.8em;
      text-align: center;
      background: $gray-lighter;
      color: $gray-darker;
      border: 1px solid $gray-light;
      z-index: 2;
      padding: 0;
      margin: 0;
      font-size: 1.2em;
      position: absolute;
      right: -1px;
      bottom: -1px;
      top: auto;
  }

  &:hover{

    &:before{
      border-color: darken($gray-light, 5%);
      color: $brand-primary;

    }

    img{
      opacity: .8;
      @include transition(.6s);
    }
  }


}



/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

	.page-leftmenu .box{
		margin-left: 30px;
	}
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {


}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {


}