/* ==========================================================================
   PAGE
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */
   
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: $header-height-mobile + $mobile-padding*2;

    &.nav-open,
    &.filters-open{
      overflow: hidden;
    }
}



#main{
  @extend .clearfix;
}



#page, #footer{
  padding: 0 20px;
}

.featured, .catalog-new{
  @extend .clearfix;
}

.catalog-new{
  padding: 2em 0;
}

.catalog-filters{
  display: none;
}

.catalog-teaser{
  @extend #footer;
  font-size: 1em!important;

  img{
    margin-bottom: 0!important;
  }
}

#footer{
  margin: 0 -20px;
}

.leftmenu{
  margin-bottom: 2em;
  display: none;
}



/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

  body{
    padding-top: 0;
  }

  .main-content {
    padding: 0 0 2em 0;
  }

  .catalog-filters{
    display: block;
    @include make-col-grid(3);
    
    padding-right: 40px;
  }

  .catalog-overview{
      @include make-col-grid(9);
  }

    .featured{
      .carousel{
         @include make-col(73%);
      }
      .quick-links{
        @include make-col(25%);
        margin-left: 2%;
      }
    }

    .catalog-new{
      padding: 3em 0 4em 0;
      .new-products-slider{
        @include make-col-grid(6);
         padding-right: 2em;
      }
      .new-products-list{
         @include make-col-grid(6);

         ul{
          @include make-col-grid(6);
         }
      }
    }

    .catalog-teaser{
      padding-bottom: 2em;
    }

    .leftmenu{
      display: block;
    }

}


/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

  #main{
    padding: 0;
  }
  /* General page */

  .leftmenu{
    @include make-col-grid(3);
  }

  .main-content {
    
    &.page-leftmenu{
      @include make-col-grid(9);
      position: relative;
      z-index: 2;
      top: -4em;
      /*@include box-shadow(0 5px 5px rgba(0,0,0,0.05));*/
      background: white;
      padding: 3em 0 3em 3.5em;
    }
  }


    #header,
    #main,
    #hero,
    #footer{
      .container, .container-fluid{
        @include transition(.3s);
      }

    }

    #page{
      background: white;
    }

    #page, #footer, .catalog-teaser{
      padding: 0 40px;
    }

    #footer, .catalog-teaser{
      margin:  0 -40px;
    }

}


/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {

  body{
    background: url(../images/bg/general-bg.jpg) 50% top no-repeat $gray-lighter;
  }

    body, 
    .form-control{
      font-size: $font-size-large;
    }


    #page{
      background: white;
      @include box-shadow(0 0 15px rgba(0,0,0,0.05));
      max-width: 1366px;
      margin: 0 auto;
    }

    #page, #footer, .catalog-teaser{
      padding: 0 83px;
    
    }

    #footer, .catalog-teaser{
      margin: 0 -83px;
    }

    .container-fluid{
        max-width: 1200px;
        margin: 0 auto;
    }



    .featured{
      .carousel{
         @include make-col(77%);
      }
      .quick-links{
        @include make-col(21%);
        margin-left: 2%;
      }
    }

    .catalog-new{
      .new-products-slider{
        @include make-col-grid(4);
         padding-right: 2em;
      }
      .new-products-list{
         @include make-col-grid(8);

         ul{
          @include make-col-grid(6);
         }
      }
    }

}





/* Mobile styles (smartphones, 768px and down) // use exeptional
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {

  .featured .quick-links a{
    @include make-col(48%);
    padding-left: 45px;
    margin-right: 4%;

    &:nth-child(even){
      margin-right: 0;
    }
  }
}
