/* ==========================================================================
   PRINT CSS
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */

  body,
  body.scroll{
    font-size: 12px!important;
    max-width: 100%;
    padding: 0!important;

    a[href]:after {
      content: none !important;
    }

    a.menu-toggle{
      display: none;
    }

  
    #header{
      position: static!important;
    }


    &.scroll #header{
      position: static!important;
      left: 0!important;
      top: 0!important;
    }

    .vanopstal-mobile{
      position: static!important;
      left: 0!important;
      top: 0!important; 
    }

  .product-info,
  .product-assets{
    @include make-col-grid(6);
  }

  .product-assets{
    padding-left: 15px;
  }

    /* accessoiries */

  .accessoiries{

    .column{

      a{
        @extend .box-white;

      }

      figure{
        height: 140px;
        background: white;
        display: block;
        margin-bottom: .5em;

        img{
          max-height: 140px;
        }
      }

    }
  }

  .accessoiries .column{
     @include make-col-grid(6);
     font-size: .9em;
     margin-bottom: 10px;

     a{
      padding: 10px;
     }
  }

    .related-items{
      padding: 1em 0 1em 0;
      display: none;

      .column{
        @include make-col-grid(3);
      }
    }

    .support-box{
      display: none;
    }

    .technical-support{
      .column:first-child{
        display: none;
      }

      .column{
        width: 100%;
        h3:first-of-type, 
        div:first-of-type{
          display: none;
        }
      }
    }



}


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) { 
}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {
}


