/* ==========================================================================
   SLIDESHOW
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */



/* ==========================================================================
   IMAGE SLIDER (USED ON PRODUCT DETAIL PAGE AND PORTFOLIO DETAIL PAGE)
   ========================================================================== */

.carousel-fade{
	margin-bottom: 2em;

	.carousel-inner{
		height: auto;

		.item{
			width: 100%;
			text-align: center;
			opacity: 0;
			background: transparent;
			@include transition(.6s ease-in-out opacity);
			@include translate3d(0, 0, 0);
			left: 0;
			top: 0;

			&.active{
			opacity: 1;
			@include translate3d(0, 0, 0);
			left: 0;
			top: 0;
			}

	      &.next,
	      &.active.right {
	        @include translate3d(0, 0, 0);
	        left: 0;
	      }
	      &.prev,
	      &.active.left {
	        @include translate3d(0, 0, 0);
	        left: 0;
	      }
	      &.active {

	      }
		}

    }

    .carousel-control{
    	display: none;
    }

}


.thumbs{
	@extend .clearfix;
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid $gray-light;
	background: $gray-lighter;
	text-transform: uppercase;
	text-align: left;
	font-size: .85em;
	border: 1px solid $gray-light;

	.thumb-item{
		border-top: 1px solid $gray-light;
		width: 100%;
		display: block;
		position: relative;
		height: 44px;

		@extend .clearfix;

		&:first-child{
			border: none;
		}

		&:hover{
			background-color: lighten($gray-lighter, 1%);
		}


		.text{
			padding: 1.1em;
			display: block;
			padding-right: 130px;

		}


	
		&.active{
			@include box-shadow(0 0 5px rgba(0,0,0,0.1));
			background: white;
			padding: 0;
			border: 0;
			color: $brand-primary;

		}

	}


		.external{
			position: absolute;
			right: 0;
			z-index: 2;
			border: none;
			background: none;
			color: $gray-dark;
			font-size: 1em;
			width: 130px;
			display: block;
			padding: 1.1em 1.1em 1.1em 1.5em;
			height: 44px;
			margin-top: -44px;
			margin-right: 7px; /* half gutter width */

			&:after{
				position: relative;
				top: .2em;
				float: right;
			}

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
		}

		.thumb-item.active + .external{
				background: $brand-primary;
				color: white;
				position: absolute;
				border: none;


				&:hover{
					background: lighten($brand-primary,5%);
				
				}
			} 



}




/* ==========================================================================
   IMAGE CAROUSEL (USED IN HOMEPAGE HERO AND HOMEPAGE MARKETS)
   ========================================================================== */


.bss-slides{
  position: relative;
  display: block;    

  &:focus{
    outline: 0;
  }

  figure{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    &:first-child{
      position: relative;
    }

    img{
      opacity: 0;
      @include transition(opacity 1.2s);
    }
  }
	
	figcaption{
		opacity: 0;
	}

  .bss-show{
     z-index: 2;

     img{
        opacity: 1;
        position: relative; 
     }

    figcaption{
      z-index: 3;
      opacity: 1;
    }
  }

}


.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .1);
  top: 50%;
  z-index: 2;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0;
  cursor: pointer;
  @include transition(.3s);
  &:before{
  	@extend .fa-icon;
  }
  

  &:hover{;
    background: rgba(0,0,0, .15);
  }
}

.bss-slides:hover{
  .bss-next, .bss-prev{
        cursor: pointer;
        opacity: 1;

  }
}

.bss-next{
  right: -1px;
  padding: 10px 10px 15px 15px;


  &:before{
  	content: $icon-chevron-right;
  }
  
}
.bss-prev{
  left: 0;
  padding: 10px 15px 15px 10px;

  &:before{
  	 content: $icon-chevron-left;
  }
 
}
.bss-fullscreen{
  display: block;
  width: 32px;
  height: 32px;    
  position: absolute;
  top: 5px;
  left: 5px;   
  cursor: pointer;    
  opacity: .3;
} 
.bss-fullscreen:hover{
  opacity: .8;   
}
:-webkit-full-screen .bss-fullscreen{
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background-size: contain;
}
:full-screen .bss-fullscreen{
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    -webkit-background-size: contain;
    background-size: contain; 
}


.new-products-slider{
	margin-top: 1em;

	figure, img{
		display: block;
	}

	.bss-prev, .bss-next{
		opacity: 1;
		bottom: 0;
		border: 1px solid $gray-light;
		color: $gray-lighter;
		background: $gray-lighter;
		top: inherit;
		font-size: 1em;
		width: 50px;
		height: 50px;
		@extend .icon;
		text-align: center;

		&:before{
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			font-size: .9em;
			color: $gray-darker;
			padding: 0;
			position: absolute;
			line-height: 50px;
		}

	}

	.bss-prev{
		@extend .back;
	}

	.bss-next{
		@extend .right;

		&:after{
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			font-size: .9em;
			color: $gray-darker;
			padding: 0;
			position: absolute;
			line-height: 50px;
				}

		&:before{
			display: none;
		}
	}

	figcaption{
		@extend .clearfix;
		display: block;

		&:before{
			content:"";
			position: absolute;
		}


		.text{
			text-align: left;
			font-size: 1.1em;

			a{
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				color: $gray-dark;
				font-size: .8em;
				height: 50px;
				overflow: hidden;
				line-height: 50px;
				padding: 0 60px;
				border-bottom: 1px solid $gray-light;

				&:hover{
					text-decoration: none;
				}

				&:focus, &:active{
					text-decoration: none;
				}
			}

		}

	}
}




/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

}


/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {



}


/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {



}


/* Mobile styles (smartphones, 768px and down) // use exeptional
   -------------------------------------------------------------------------- */

@media (max-width: $screen-sm-min) {

}