/* ==========================================================================
   TABLES
   ========================================================================== */

/* No media query since this is the default in Bootstrap
   -------------------------------------------------------------------------- */
table td{
	text-align: left;
	white-space: nowrap;
	letter-spacing: .02em;
}
.table-wrapper{
	position: relative;
}

table img{
	min-width: 80px;
	max-height: 60px;
	display: block;
	margin: 0 auto;
}

table{
	margin:2em 0;
	@include box-shadow (0px 1
		px 5px rgba(0,0,0,0.08));
	background: white;
	border-collapse: collapse;
	font-size: 0.95em;
	line-height: 1.2em;
	width: 99%;
	border-bottom: 1px solid $gray-light;

	th{
		padding: 2em .5em 1.5em .5em;
		color: $gray-darker;
		text-align: center;
		white-space: nowrap;
		text-transform: uppercase;
		font-size: .75em;
		letter-spacing: .02em;

		&:first-child{
		}
	}

	td{
		padding: .5em .5em;
		text-align: center;
	}

	&.text-left td,
	&.text-left th{
		text-align: left;
	}


	a{
	  color: $brand-primary;
	  font-weight: bold;


	  &:visited{
		font-style: italic;
	  }

	  &:hover, &:active{
		color: $gray-darker;
		cursor: pointer;
		text-decoration: none;
	  }


	  &.icon{
	  	color: $gray-darker;

	  	&.cart-add{

	  	}

	  	&:hover{
	  		color: $brand-primary;
	  	}
	  }

	}

	em{
		color: $gray;
		font-style: normal;
	}


	input, .btn{
		margin: 0 auto;
	}



	tr {
		text-align: center;

		td{
			border-top: 1px solid $gray-light;

			&.border{
				border: 1px solid $gray-light;
			}

			&:first-child{
				font-weight: bold;
				border-left: 1px solid $gray-light;
			}

			&:last-child{
				border-right: 1px solid $gray-light;
			}
		}


		&:nth-child(odd) td{
			background: lighten($gray-lighter, 1%);
		}

		&:hover{
			td{
				background: $gray-lighter;
			}
		}


	}



}



.lightbox-content table{
	font-size: .85em;
	margin-top: 0;

	td{
		padding: .8em 0;
	}

	.btn{
		padding: .5em 1em;
		height: auto;
	}
}

.scroll-table.fix-left{
	table tr td:first-child,
	table tr:nth-child(even) td:first-child{
			background: white;
			z-index: 2;
			font-weight: bold;

			&:after{
				width: 2px;
				position: static;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: $gray-light;
			}
		}

	table tr:nth-child(even) td:first-child{
			/*background: lighten($gray-lighter, 2%);*/
			background: white;
		}

}

.fix-top.scroll-table{
	height: 60vh;
	table{
		margin: 0;
	}
}

.scroll-table.fix-left-two{
	table tr td:first-child,
	table tr:nth-child(even) td:first-child{
			background: white;
			z-index: 2;
			font-weight: bold;

			&:after{
				width: 2px;
				position: static;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: $gray-light;
			}
		}
	table tr td:nth-child(2),
	table tr:nth-child(even) td:nth-child(2){
		@include box-shadow (0 0px 5px rgba(0,0,0,0.05));
			background: white;
			z-index: 2;
			font-weight: bold;

			a{
				font-weight: normal;
			}

			&:after{
				width: 2px;
				position: static;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: $gray-light;
			}
		}

	table tr:nth-child(even) td:first-child{
			background: lighten($gray-lighter, 2%);
			background: white;
		}

	&.fix-rowspan-2{
		table tr:nth-child(even) td:nth-child(2){
			font-weight: 200!important;
			background: lighten($gray-lighter, 1%)!important;
		}

		table tr:nth-child(even):hover td:nth-child(2){
			background: darken($gray-lighter, 2%)!important;
		}
	}

	&.fix-rowspan-3{
		table tr:nth-child(3n) td:nth-child(2){
			font-weight: 200!important;
		}
		table tr:nth-child(3n):nth-child(2n) td:nth-child(2){
			background: lighten($gray-lighter, 1%)!important
		}
		table tr:nth-child(3n):hover td:nth-child(2){
			background: darken($gray-lighter, 2%)!important;
		}

		table tr:nth-child(3n-1) td:nth-child(2){
			font-weight: 200!important;
		}
		table tr:nth-child(3n-1):nth-child(2n) td:nth-child(2){
			background: lighten($gray-lighter, 1%)!important
		}
		table tr:nth-child(3n-1):hover td:nth-child(2){
			background: darken($gray-lighter, 2%)!important;
		}
	}

}

.box table{
	margin: 0;
	border-top: 0px solid $gray-light;
	tr td:last-child,
	tr th:last-child{
		border-right: 0px solid $gray-light;
	}
	tr td:first-child,
	tr th:first-child{
		border-left: 0px solid $gray-light;
	}

	&:not(:first-of-type){
	border-top: 1px solid $gray-light;
	margin: 0 0 0 0;
	}
	th{
		border-top: 0px solid $gray-light;
		background: lighten($gray-light, 2%);
	}


	 a.login{
	  	@extend .icon;
	  	color: $gray;
	  	font-style: italic;
	  	border-bottom: 1px solid $gray;

	  	&:hover{
	  		border-bottom: 1px solid $gray-dark;
	  		color: $gray-dark;
	  	}
	  }


}

/* sortable table */

a.icon-sort{
	color: $gray-dark;
	padding-left: 3px;
	text-indent: -9999px;
	width: 1em;
	height: 1em;
	@extend .icon;
	text-decoration: none;

	&:before{
		font-size: .9em;
		color: $gray-darker;
		font-weight: bold;
	}
	&:hover{
		text-decoration: none;
	}

	&.sortable{
		@extend .down;
	}

	&.sort-up{
		@extend .up;

		&:before{
			font-size: .7em;
		}
	}

	&.sort-down{
		@extend .down;

		&:before{
			font-size: .7em;
		}
	}
}


/* stacktable */


.stacktable { width: 100%; max-width: 100%;}
.st-head-row { padding: .8em .5em; font-size: 1.2em; text-align: left;}
.st-head-row.st-head-row-main { font-size: 1.2em; padding-top: 15px; text-align: left;}
.st-key { width: 49%; padding-right: 1%; text-align: left; }
.st-val { width: 49%; padding-left: 1%; text-align: left; }




/* RESPONSIVE EXAMPLE */

  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

	.stacktable.large-only { display: table; }
	.stacktable.small-only { display: none; }
}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {
}


/* Mobile styles
   -------------------------------------------------------------------------- */

@media (max-width: $screen-md-min) {

	table.stacktable{
		font-size: .8em;
		 table-layout: fixed; 
		 word-wrap:break-word; 
		 overflow: hidden;

		td{
			word-break: break-all;
			padding: .8em .5em;
		}

	}

	table.stacktable tr .st-head-row{
		border-top: 30px solid white;
		text-align: left;
		background: $gray-light;

		img{
			margin-left: 0;
		}
	}

	table.stacktable tr:first-child{
		display: none;
	}

}

@media (max-width: $screen-sm-min) {

	.scroll-table{
		width: 100%!important;
	}

	table tr td{
		input, .btn, .btn.btn-primary.cart-add{
			display: block;
			width: 100%;
		}
	}



}


