/* ==========================================================================
   HEADINGS
   ========================================================================== */

body{

}

h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0 0 0.5em 0;
	color: $gray-darker;

	a, a:hover, a:focus, a:active{
		text-decoration: none;
	}
}



h1{
	font-size: 1.8em;
	color: $gray-darker;
	margin: 0 0 1em 0;
	font-family: LatoLatinWebLight;
	text-align: center;
	&.intro{
		color: $brand-primary;
		font-size: 1.5em;
		line-height: 1.5em;
		margin: 0.3em 0 1em 0;
		letter-spacing: -.01em;
	}
}

.catalog-overview h1,
.product-detail h1{
	margin-bottom: .5em;
	font-size: 1.3em;
}

.page-leftmenu h1{
	font-size: 1.4em;
	text-transform: uppercase;

	&:after{
		@extend .title-border;
		margin: 1em auto 0 auto;

	}

}

.small{
	font-size: .8em;
}

.gray{
	color: $gray;
}

h2{
	font-size: 1.5em;
	color: $gray-darker;
	margin-bottom: 1em;

	&.lg{
		font-size: 1.7em;
		margin-bottom: .7em;
	}

	&.product-divider,
	&.divider{
		font-size: 1.4em;
		padding-top: .5em;
		margin-bottom: .5em;
		padding-left: 0em;

		&:before{
			content: "";
			position: relative;
			border-bottom: 1px solid $gray-light;
			display: block;
			height: 1px;
			z-index: 0;
		}

		span{
			display: inline-block;
			background: white;
			padding: 0 2em 0 0;
			position: relative;
			z-index: 1;
			top: - .8em;
		}
	}

	&.divider{
		padding-left: 0;
		margin-top: 1em;
		margin-bottom: 0;

		&:first-of-type{
			margin-top: 2em;
		}

	}
}


.box .bodytext h2,
.catalog-filters h2{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .02em;

	&:after{
		@extend .title-border;
		margin: 1em auto 0 auto;

	}

}

.catalog-filters h2{
	font-size: 1.05em;
	margin-top: 1em;
}

.catalog-teaser,
.catalog-new{
	h2{
		text-transform: uppercase;
		font-family: "LatoLatinWebLight";
		font-size: 1.3em;
		margin-bottom: 1.5em;
	}
}

h3{
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: 100;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	color: $gray-darker;
	display: inline-block;
}

h4{
	font-size: 1.05em;
	margin-bottom: 1em;
}

h5{
	font-size: 1em;
}

h5, h4{
	font-weight: 600;
}

.bodytext{

	h2, h3, h4, h5, h6{
		margin-top: 1.5em;
		margin-bottom: .5em;
	}

	h2, h3{
		font-weight: 600;
		font-size: 1.25em;
		color: $gray-darker;
	}

	h2{
		margin-top: 1em;
		display: inline-block;
		font-size: 1.2em;
		line-height: 1.4em;
		margin-bottom: 1.5em;
		color: $gray-darker;
		display: inline-block;
	}


	h3{
		font-size: 1.2em;
		border: none;
		padding-bottom: 0px;
		margin-bottom: .5em;
	}
}


.accent{
	h4{
		color: darken($brand-accent, 3%);
	}
}



/* ==========================================================================
   LISTS
   ========================================================================== */

.general-list{
	ul, li{
		list-style: none;

	}

	li{
		padding: 5px 0 5px 22px;
		@extend.icon;
		@extend.right-before;

		&:before{
		font-size: .8em;
		}
	}
}


/* ==========================================================================
   INTRO
   ========================================================================== */

.intro{
	font-size: .95em;
	line-height: 1.5em;
}

/* ==========================================================================
   BODYTEXT 
   ========================================================================== */


.bodytext{
  line-height: 1.8em;

  ul{
  	@extend .general-list;

  	li{
  		padding: 0;
  	}
  }
}

.page-intro{
  color: $gray-medium2;
  font-size: 1.15em;
  padding: 0 0 1em 0;
  line-height: 1.6em;
}


/* Small devices (tablets, 768px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-sm-min) {

	.catalog-overview h1,
	.product-detail h1{
		font-size: 1.8em;
	}

	h1,
	.page-leftmenu h1,
	.page-leftmenu h1:after,
	.box .bodytext h2,
	.box .bodytext h2:after,
	.catalog-filters h2:after,
	.catalog-filters h2{
		text-align: left;
		margin-left: 0;
	}
}

/* Medium devices (desktops, 992px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-md-min) {

	h1{
		font-size: 2em;
		&.intro{
			font-size: 2em;

		}
	}
}

/* Large devices (large desktops, 1200px and up)
   -------------------------------------------------------------------------- */

@media (min-width: $screen-lg-min) {
}