/* ========================================================================== BASE styles Description: Screen styles only ========================================================================== */
/* custom sizes */
/* ========================================================================== CUSTOM BOOTSTRAP Description: Bootstrap classes and mixins needed to @extend in custom styles ========================================================================== */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* custom sizes */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 10px; -webkit-tap-highlight-color: transparent; }

body { font-family: "LatoLatinWeb", sans-serif; font-size: 14px; line-height: 1.42857; color: #2c2d34; background-color: white; }

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

a { color: #2c2d34; text-decoration: none; }
a:hover, a:focus { color: #09090b; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

figure { margin: 0; }

img { vertical-align: middle; }

.img-responsive { display: block; max-width: 100%; height: auto; }

.img-rounded { border-radius: 0; }

.img-thumbnail { padding: 4px; line-height: 1.42857; background-color: white; border: 1px solid #dddddd; border-radius: 0; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; max-width: 100%; height: auto; }

.img-circle { border-radius: 50%; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #fafbfb; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

[role="button"] { cursor: pointer; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 100; line-height: 1.3; color: inherit; }
h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small { font-weight: normal; line-height: 1; color: #eeeef1; }

h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small { font-size: 65%; }

h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small { font-size: 75%; }

h1, .h1 { font-size: 28px; }

h2, .h2 { font-size: 19px; }

h3, .h3 { font-size: 17px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 14px; }

h6, .h6 { font-size: 12px; }

p { margin: 0 0 10px; }

.lead { margin-bottom: 20px; font-size: 16px; font-weight: 300; line-height: 1.4; }
@media (min-width: 768px) { .lead { font-size: 21px; } }

small, .small { font-size: 92%; }

mark, .mark { background-color: #fdf3e5; padding: .2em; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.text-nowrap { white-space: nowrap; }

.text-lowercase { text-transform: lowercase; }

.text-uppercase, .initialism { text-transform: uppercase; }

.text-capitalize { text-transform: capitalize; }

.text-muted { color: #eeeef1; }

.text-primary { color: #1f4dad; }

a.text-primary:hover, a.text-primary:focus { color: #173a82; }

.text-success { color: #2c2d34; }

a.text-success:hover, a.text-success:focus { color: #151518; }

.text-info { color: #2c2d34; }

a.text-info:hover, a.text-info:focus { color: #151518; }

.text-warning { color: #2c2d34; }

a.text-warning:hover, a.text-warning:focus { color: #151518; }

.text-danger { color: #2c2d34; }

a.text-danger:hover, a.text-danger:focus { color: #151518; }

.bg-primary { color: #fff; }

.bg-primary { background-color: #1f4dad; }

a.bg-primary:hover, a.bg-primary:focus { background-color: #173a82; }

.bg-success { background-color: #d8f4ec; }

a.bg-success:hover, a.bg-success:focus { background-color: #b1e8d8; }

.bg-info { background-color: #e9effb; }

a.bg-info:hover, a.bg-info:focus { background-color: #becff3; }

.bg-warning { background-color: #fdf3e5; }

a.bg-warning:hover, a.bg-warning:focus { background-color: #f9dcb6; }

.bg-danger { background-color: #f7d1d5; }

a.bg-danger:hover, a.bg-danger:focus { background-color: #f0a5ae; }

.page-header { padding-bottom: 9px; margin: 40px 0 20px; border-bottom: 1px solid #fafbfb; }

ul, ol { margin-top: 0; margin-bottom: 10px; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.list-unstyled { padding-left: 0; list-style: none; }

.list-inline { padding-left: 0; list-style: none; margin-left: -5px; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }

dl { margin-top: 0; margin-bottom: 20px; }

dt, dd { line-height: 1.42857; }

dt { font-weight: bold; }

dd { margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after { content: " "; display: table; }
.dl-horizontal dd:after { clear: both; }
@media (min-width: 768px) { .dl-horizontal dt { float: left; width: 160px; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .dl-horizontal dd { margin-left: 180px; } }

abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #eeeef1; }

.initialism { font-size: 90%; }

blockquote { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #fafbfb; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0; }
blockquote footer, blockquote small, blockquote .small { display: block; font-size: 80%; line-height: 1.42857; color: #eeeef1; }
blockquote footer:before, blockquote small:before, blockquote .small:before { content: '\2014 \00A0'; }

.blockquote-reverse, blockquote.pull-right { padding-right: 15px; padding-left: 0; border-right: 5px solid #fafbfb; border-left: 0; text-align: right; }
.blockquote-reverse footer:before, .blockquote-reverse small:before, .blockquote-reverse .small:before, blockquote.pull-right footer:before, blockquote.pull-right small:before, blockquote.pull-right .small:before { content: ''; }
.blockquote-reverse footer:after, .blockquote-reverse small:after, .blockquote-reverse .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after, blockquote.pull-right .small:after { content: '\00A0 \2014'; }

address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }

.container { margin-right: auto; margin-left: auto; padding-left: 7px; padding-right: 7px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
@media (min-width: 768px) { .container { width: 734px; } }
@media (min-width: 1010px) { .container { width: 974px; } }
@media (min-width: 1300px) { .container { width: 1214px; } }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 7px; padding-right: 7px; }
.container-fluid:before, .container-fluid:after { content: " "; display: table; }
.container-fluid:after { clear: both; }

.row { margin-left: -7px; margin-right: -7px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 7px; padding-right: 7px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-1 { width: 8.33333%; }

.col-xs-2 { width: 16.66667%; }

.col-xs-3 { width: 25%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-5 { width: 41.66667%; }

.col-xs-6 { width: 50%; }

.col-xs-7 { width: 58.33333%; }

.col-xs-8 { width: 66.66667%; }

.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: auto; }

.col-xs-pull-1 { right: 8.33333%; }

.col-xs-pull-2 { right: 16.66667%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-4 { right: 33.33333%; }

.col-xs-pull-5 { right: 41.66667%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-7 { right: 58.33333%; }

.col-xs-pull-8 { right: 66.66667%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-10 { right: 83.33333%; }

.col-xs-pull-11 { right: 91.66667%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: auto; }

.col-xs-push-1 { left: 8.33333%; }

.col-xs-push-2 { left: 16.66667%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-4 { left: 33.33333%; }

.col-xs-push-5 { left: 41.66667%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-7 { left: 58.33333%; }

.col-xs-push-8 { left: 66.66667%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-10 { left: 83.33333%; }

.col-xs-push-11 { left: 91.66667%; }

.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0%; }

.col-xs-offset-1 { margin-left: 8.33333%; }

.col-xs-offset-2 { margin-left: 16.66667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.33333%; }

.col-xs-offset-5 { margin-left: 41.66667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.33333%; }

.col-xs-offset-8 { margin-left: 66.66667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.33333%; }

.col-xs-offset-11 { margin-left: 91.66667%; }

.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 1010px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }
  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 1300px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-offset-0 { margin-left: 0%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-12 { margin-left: 100%; } }
fieldset { padding: 0; margin: 0; border: 0; min-width: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: 20px; font-size: 21px; line-height: inherit; color: #5b5d6b; border: 0; border-bottom: 1px solid #e5e5e5; }

label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }

input[type="search"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; margin-top: 1px \9; line-height: normal; }

input[type="file"] { display: block; }

input[type="range"] { display: block; width: 100%; }

select[multiple], select[size] { height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

output { display: block; padding-top: 7px; font-size: 14px; line-height: 1.42857; color: #727587; }

.form-control { display: block; width: 100%; height: 40px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #727587; background-color: white; background-image: none; border: 1px solid #cccccc; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
.form-control:focus { border-color: #5b5d6b; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 93, 107, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 93, 107, 0.6); }
.form-control::-moz-placeholder { color: #999999; opacity: 1; }
.form-control:-ms-input-placeholder { color: #999999; }
.form-control::-webkit-input-placeholder { color: #999999; }
.form-control::-ms-expand { border: 0; background-color: transparent; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #fafbfb; opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }

textarea.form-control { height: auto; }

input[type="search"] { -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control { line-height: 40px; }
  input[type="date"].input-sm, .input-group-sm input[type="date"], input[type="time"].input-sm, .input-group-sm input[type="time"], input[type="datetime-local"].input-sm, .input-group-sm input[type="datetime-local"], input[type="month"].input-sm, .input-group-sm input[type="month"] { line-height: 31px; }
  input[type="date"].input-lg, .input-group-lg input[type="date"], input[type="time"].input-lg, .input-group-lg input[type="time"], input[type="datetime-local"].input-lg, .input-group-lg input[type="datetime-local"], input[type="month"].input-lg, .input-group-lg input[type="month"] { line-height: 41px; } }
.form-group { margin-bottom: 15px; }

.radio, .checkbox { position: relative; display: block; margin-top: 10px; margin-bottom: 10px; }
.radio label, .checkbox label { min-height: 20px; padding-left: 20px; margin-bottom: 0; font-weight: normal; cursor: pointer; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position: absolute; margin-left: -20px; margin-top: 4px \9; }

.radio + .radio, .checkbox + .checkbox { margin-top: -5px; }

.radio-inline, .checkbox-inline { position: relative; display: inline-block; padding-left: 20px; margin-bottom: 0; vertical-align: middle; font-weight: normal; cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-top: 0; margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] { cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline, .checkbox-inline.disabled, fieldset[disabled] .checkbox-inline { cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, fieldset[disabled] .checkbox label { cursor: not-allowed; }

.form-control-static { padding-top: 7px; padding-bottom: 7px; margin-bottom: 0; min-height: 34px; }
.form-control-static.input-lg, .form-control-static.input-sm { padding-left: 0; padding-right: 0; }

.input-sm { height: 31px; padding: 5px 10px; font-size: 13px; line-height: 1.5; border-radius: 0; }

select.input-sm { height: 31px; line-height: 31px; }

textarea.input-sm, select[multiple].input-sm { height: auto; }

.form-group-sm .form-control { height: 31px; padding: 5px 10px; font-size: 13px; line-height: 1.5; border-radius: 0; }
.form-group-sm select.form-control { height: 31px; line-height: 31px; }
.form-group-sm textarea.form-control, .form-group-sm select[multiple].form-control { height: auto; }
.form-group-sm .form-control-static { height: 31px; min-height: 33px; padding: 6px 10px; font-size: 13px; line-height: 1.5; }

.input-lg { height: 41px; padding: 10px 16px; font-size: 14px; line-height: 1.33333; border-radius: 0; }

select.input-lg { height: 41px; line-height: 41px; }

textarea.input-lg, select[multiple].input-lg { height: auto; }

.form-group-lg .form-control { height: 41px; padding: 10px 16px; font-size: 14px; line-height: 1.33333; border-radius: 0; }
.form-group-lg select.form-control { height: 41px; line-height: 41px; }
.form-group-lg textarea.form-control, .form-group-lg select[multiple].form-control { height: auto; }
.form-group-lg .form-control-static { height: 41px; min-height: 34px; padding: 11px 16px; font-size: 14px; line-height: 1.33333; }

.has-feedback { position: relative; }
.has-feedback .form-control { padding-right: 50px; }

.form-control-feedback { position: absolute; top: 0; right: 0; z-index: 2; display: block; width: 40px; height: 40px; line-height: 40px; text-align: center; pointer-events: none; }

.input-lg + .form-control-feedback, .input-group-lg + .form-control-feedback, .form-group-lg .form-control + .form-control-feedback { width: 41px; height: 41px; line-height: 41px; }

.input-sm + .form-control-feedback, .input-group-sm + .form-control-feedback, .form-group-sm .form-control + .form-control-feedback { width: 31px; height: 31px; line-height: 31px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label { color: #2c2d34; }
.has-success .form-control { border-color: #2c2d34; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-success .form-control:focus { border-color: #151518; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; }
.has-success .input-group-addon { color: #2c2d34; border-color: #2c2d34; background-color: #d8f4ec; }
.has-success .form-control-feedback { color: #2c2d34; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label { color: #2c2d34; }
.has-warning .form-control { border-color: #2c2d34; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-warning .form-control:focus { border-color: #151518; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; }
.has-warning .input-group-addon { color: #2c2d34; border-color: #2c2d34; background-color: #fdf3e5; }
.has-warning .form-control-feedback { color: #2c2d34; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label { color: #2c2d34; }
.has-error .form-control { border-color: #2c2d34; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-error .form-control:focus { border-color: #151518; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #5b5d6b; }
.has-error .input-group-addon { color: #2c2d34; border-color: #2c2d34; background-color: #f7d1d5; }
.has-error .form-control-feedback { color: #2c2d34; }

.has-feedback label ~ .form-control-feedback { top: 25px; }
.has-feedback label.sr-only ~ .form-control-feedback { top: 0; }

.help-block { display: block; margin-top: 5px; margin-bottom: 10px; color: #666979; }

@media (min-width: 768px) { .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
  .form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .form-inline .form-control-static { display: inline-block; }
  .form-inline .input-group { display: inline-table; vertical-align: middle; }
  .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control { width: auto; }
  .form-inline .input-group > .form-control { width: 100%; }
  .form-inline .control-label { margin-bottom: 0; vertical-align: middle; }
  .form-inline .radio, .form-inline .checkbox { display: inline-block; margin-top: 0; margin-bottom: 0; vertical-align: middle; }
  .form-inline .radio label, .form-inline .checkbox label { padding-left: 0; }
  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { position: relative; margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback { top: 0; } }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { margin-top: 0; margin-bottom: 0; padding-top: 7px; }
.form-horizontal .radio, .form-horizontal .checkbox { min-height: 27px; }
.form-horizontal .form-group { margin-left: -7px; margin-right: -7px; }
.form-horizontal .form-group:before, .form-horizontal .form-group:after { content: " "; display: table; }
.form-horizontal .form-group:after { clear: both; }
@media (min-width: 768px) { .form-horizontal .control-label { text-align: right; margin-bottom: 0; padding-top: 7px; } }
.form-horizontal .has-feedback .form-control-feedback { right: 7px; }
@media (min-width: 768px) { .form-horizontal .form-group-lg .control-label { padding-top: 11px; font-size: 14px; } }
@media (min-width: 768px) { .form-horizontal .form-group-sm .control-label { padding-top: 6px; font-size: 13px; } }

.btn { display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #5b5d6b; text-decoration: none; }
.btn:active, .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

a.btn.disabled, fieldset[disabled] a.btn { pointer-events: none; }

.btn-default { color: #5b5d6b; background-color: white; border-color: #eeeef1; }
.btn-default:focus, .btn-default.focus { color: #5b5d6b; background-color: #e6e6e6; border-color: #a9abb6; }
.btn-default:hover { color: #5b5d6b; background-color: #e6e6e6; border-color: #cdced5; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { color: #5b5d6b; background-color: #e6e6e6; border-color: #cdced5; }
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus { color: #5b5d6b; background-color: #d4d4d4; border-color: #a9abb6; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { background-image: none; }
.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus { background-color: white; border-color: #eeeef1; }
.btn-default .badge { color: white; background-color: #5b5d6b; }

.btn-primary { color: #1f4dad; background-color: white; border-color: #3c70dc; }
.btn-primary:focus, .btn-primary.focus { color: #1f4dad; background-color: #e6e6e6; border-color: #173a82; }
.btn-primary:hover { color: #1f4dad; background-color: #e6e6e6; border-color: #2153ba; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { color: #1f4dad; background-color: #e6e6e6; border-color: #2153ba; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus { color: #1f4dad; background-color: #d4d4d4; border-color: #173a82; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { background-image: none; }
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus { background-color: white; border-color: #3c70dc; }
.btn-primary .badge { color: white; background-color: #1f4dad; }

.btn-success { color: white; background-color: #5cb85c; border-color: #4cae4c; }
.btn-success:focus, .btn-success.focus { color: white; background-color: #449d44; border-color: #255625; }
.btn-success:hover { color: white; background-color: #449d44; border-color: #398439; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { color: white; background-color: #449d44; border-color: #398439; }
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus { color: white; background-color: #398439; border-color: #255625; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }
.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus { background-color: #5cb85c; border-color: #4cae4c; }
.btn-success .badge { color: #5cb85c; background-color: white; }

.btn-info { color: white; background-color: #5bc0de; border-color: #46b8da; }
.btn-info:focus, .btn-info.focus { color: white; background-color: #31b0d5; border-color: #1b6d85; }
.btn-info:hover { color: white; background-color: #31b0d5; border-color: #269abc; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { color: white; background-color: #31b0d5; border-color: #269abc; }
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus { color: white; background-color: #269abc; border-color: #1b6d85; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { background-image: none; }
.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus { background-color: #5bc0de; border-color: #46b8da; }
.btn-info .badge { color: #5bc0de; background-color: white; }

.btn-warning { color: white; background-color: #f0ad4e; border-color: #eea236; }
.btn-warning:focus, .btn-warning.focus { color: white; background-color: #ec971f; border-color: #985f0d; }
.btn-warning:hover { color: white; background-color: #ec971f; border-color: #d58512; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { color: white; background-color: #ec971f; border-color: #d58512; }
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus { color: white; background-color: #d58512; border-color: #985f0d; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { background-image: none; }
.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus { background-color: #f0ad4e; border-color: #eea236; }
.btn-warning .badge { color: #f0ad4e; background-color: white; }

.btn-danger { color: white; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:focus, .btn-danger.focus { color: white; background-color: #c9302c; border-color: #761c19; }
.btn-danger:hover { color: white; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { color: white; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus { color: white; background-color: #ac2925; border-color: #761c19; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }
.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus { background-color: #d9534f; border-color: #d43f3a; }
.btn-danger .badge { color: #d9534f; background-color: white; }

.btn-link { color: #2c2d34; font-weight: normal; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
.btn-link:hover, .btn-link:focus { color: #09090b; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus { color: #eeeef1; text-decoration: none; }

.btn-lg { padding: 10px 16px; font-size: 14px; line-height: 1.33333; border-radius: 0; }

.btn-sm { padding: 5px 10px; font-size: 13px; line-height: 1.5; border-radius: 0; }

.btn-xs { padding: 1px 5px; font-size: 13px; line-height: 1.5; border-radius: 0; }

.btn-block { display: block; width: 100%; }

.btn-block + .btn-block { margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100%; }

.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-top: 4px solid \9; border-right: 4px solid transparent; border-left: 4px solid transparent; }

.dropup, .dropdown { position: relative; }

.dropdown-toggle:focus { outline: 0; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; font-size: 14px; text-align: left; background-color: white; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 0; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-clip: padding-box; /*
> li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: $line-height-base; color: $dropdown-link-color; white-space: nowrap; // prevent links from randomly breaking onto new lines
}*/ }
.dropdown-menu.pull-right { right: 0; left: auto; }
.dropdown-menu .divider { height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { text-decoration: none; color: #4f515d; background-color: whitesmoke; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: white; text-decoration: none; outline: 0; background-color: #1f4dad; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { color: #eeeef1; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed; }

.open > .dropdown-menu { display: block; }
.open > a { outline: 0; }

.dropdown-menu-right { left: auto; right: 0; }

.dropdown-menu-left { left: 0; right: auto; }

.dropdown-header { display: block; padding: 3px 20px; font-size: 13px; line-height: 1.42857; color: #eeeef1; white-space: nowrap; }

.dropdown-backdrop { position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 990; }

.pull-right > .dropdown-menu { right: 0; left: auto; }

.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-top: 0; border-bottom: 4px dashed; border-bottom: 4px solid \9; content: ""; }
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 2px; }

@media (min-width: 768px) { .navbar-right .dropdown-menu { right: 0; left: auto; }
  .navbar-right .dropdown-menu-left { left: 0; right: auto; } }
.navbar { position: relative; min-height: 60px; margin-bottom: 20px; border: 1px solid transparent; }
.navbar:before, .navbar:after { content: " "; display: table; }
.navbar:after { clear: both; }
@media (min-width: 768px) { .navbar { border-radius: 0; } }

.navbar-header:before, .navbar-header:after { content: " "; display: table; }
.navbar-header:after { clear: both; }
@media (min-width: 768px) { .navbar-header { float: left; } }

.navbar-collapse { overflow-x: visible; padding-right: 7px; padding-left: 7px; border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); -webkit-overflow-scrolling: touch; }
.navbar-collapse:before, .navbar-collapse:after { content: " "; display: table; }
.navbar-collapse:after { clear: both; }
.navbar-collapse.in { overflow-y: auto; }
@media (min-width: 768px) { .navbar-collapse { width: auto; border-top: 0; box-shadow: none; }
  .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
  .navbar-collapse.in { overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-left: 0; padding-right: 0; } }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 340px; }
@media (max-device-width: 480px) and (orientation: landscape) { .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 200px; } }

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse { margin-right: -7px; margin-left: -7px; }
@media (min-width: 768px) { .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse { margin-right: 0; margin-left: 0; } }

.navbar-static-top { z-index: 1000; border-width: 0 0 1px; }
@media (min-width: 768px) { .navbar-static-top { border-radius: 0; } }

.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0; left: 0; z-index: 1030; }
@media (min-width: 768px) { .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0; } }

.navbar-fixed-top { top: 0; border-width: 0 0 1px; }

.navbar-fixed-bottom { bottom: 0; margin-bottom: 0; border-width: 1px 0 0; }

.navbar-brand { float: left; padding: 20px 7px; font-size: 14px; line-height: 20px; height: 60px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-brand > img { display: block; }
@media (min-width: 768px) { .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -7px; } }

.navbar-toggle { position: relative; float: right; margin-right: 7px; padding: 9px 10px; margin-top: 13px; margin-bottom: 13px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 0; }
.navbar-toggle:focus { outline: 0; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) { .navbar-toggle { display: none; } }

.navbar-nav { margin: 10px -7px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) { .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a { line-height: 20px; }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none; } }
@media (min-width: 768px) { .navbar-nav { float: left; margin: 0; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 20px; padding-bottom: 20px; } }

.navbar-form { margin-left: -7px; margin-right: -7px; padding: 10px 7px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); margin-top: 10px; margin-bottom: 10px; }
@media (min-width: 768px) { .navbar-form .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .navbar-form .form-control-static { display: inline-block; }
  .navbar-form .input-group { display: inline-table; vertical-align: middle; }
  .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control { width: auto; }
  .navbar-form .input-group > .form-control { width: 100%; }
  .navbar-form .control-label { margin-bottom: 0; vertical-align: middle; }
  .navbar-form .radio, .navbar-form .checkbox { display: inline-block; margin-top: 0; margin-bottom: 0; vertical-align: middle; }
  .navbar-form .radio label, .navbar-form .checkbox label { padding-left: 0; }
  .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] { position: relative; margin-left: 0; }
  .navbar-form .has-feedback .form-control-feedback { top: 0; } }
@media (max-width: 767px) { .navbar-form .form-group { margin-bottom: 5px; }
  .navbar-form .form-group:last-child { margin-bottom: 0; } }
@media (min-width: 768px) { .navbar-form { width: auto; border: 0; margin-left: 0; margin-right: 0; padding-top: 0; padding-bottom: 0; -webkit-box-shadow: none; box-shadow: none; } }

.navbar-nav > li > .dropdown-menu { margin-top: 0; border-top-right-radius: 0; border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu { margin-bottom: 0; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.navbar-btn { margin-top: 10px; margin-bottom: 10px; }
.navbar-btn.btn-sm { margin-top: 14.5px; margin-bottom: 14.5px; }
.navbar-btn.btn-xs { margin-top: 19px; margin-bottom: 19px; }

.navbar-text { margin-top: 20px; margin-bottom: 20px; }
@media (min-width: 768px) { .navbar-text { float: left; margin-left: 7px; margin-right: 7px; } }

@media (min-width: 768px) { .navbar-left { float: left !important; }
  .navbar-right { float: right !important; margin-right: -7px; }
  .navbar-right ~ .navbar-right { margin-right: 0; } }
.navbar-default { background-color: #f8f8f8; border-color: #e7e7e7; }
.navbar-default .navbar-brand { color: #777777; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #5e5e5e; background-color: transparent; }
.navbar-default .navbar-text { color: #777777; }
.navbar-default .navbar-nav > li > a { color: #777777; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #333333; background-color: transparent; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #555555; background-color: #e7e7e7; }
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus { color: #cccccc; background-color: transparent; }
.navbar-default .navbar-toggle { border-color: #dddddd; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #dddddd; }
.navbar-default .navbar-toggle .icon-bar { background-color: #888888; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #e7e7e7; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: #e7e7e7; color: #555555; }
@media (max-width: 767px) { .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777777; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #333333; background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: #555555; background-color: #e7e7e7; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #cccccc; background-color: transparent; } }
.navbar-default .navbar-link { color: #777777; }
.navbar-default .navbar-link:hover { color: #333333; }
.navbar-default .btn-link { color: #777777; }
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus { color: #333333; }
.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus { color: #cccccc; }

.navbar-inverse { background-color: #2c2d34; border-color: #151518; }
.navbar-inverse .navbar-brand { color: white; }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: white; background-color: transparent; }
.navbar-inverse .navbar-text { color: #eeeef1; }
.navbar-inverse .navbar-nav > li > a { color: white; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: white; background-color: transparent; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: white; background-color: #151518; }
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus { color: #444444; background-color: transparent; }
.navbar-inverse .navbar-toggle { border-color: #333333; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #333333; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: white; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #1c1c21; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #151518; color: white; }
@media (max-width: 767px) { .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #151518; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #151518; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: white; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: white; background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { color: white; background-color: #151518; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #444444; background-color: transparent; } }
.navbar-inverse .navbar-link { color: white; }
.navbar-inverse .navbar-link:hover { color: white; }
.navbar-inverse .btn-link { color: white; }
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus { color: white; }
.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-link:focus { color: #444444; }

.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 0; }
.pagination > li { display: inline; }
.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 6px 12px; line-height: 1.42857; text-decoration: none; color: #2c2d34; background-color: white; border: 1px solid #dddddd; margin-left: -1px; }
.pagination > li:first-child > a, .pagination > li:first-child > span { margin-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; }
.pagination > li:last-child > a, .pagination > li:last-child > span { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus { z-index: 2; color: #09090b; background-color: #fafbfb; border-color: #dddddd; }
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus { z-index: 3; color: white; background-color: #1f4dad; border-color: #1f4dad; cursor: default; }
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus { color: #eeeef1; background-color: white; border-color: #dddddd; cursor: not-allowed; }

.pagination-lg > li > a, .pagination-lg > li > span { padding: 10px 16px; font-size: 14px; line-height: 1.33333; }
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.pagination-sm > li > a, .pagination-sm > li > span { padding: 5px 10px; font-size: 13px; line-height: 1.5; }
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 0; }
.alert h4 { margin-top: 0; color: inherit; }
.alert .alert-link { font-weight: bold; }
.alert > p, .alert > ul { margin-bottom: 0; }
.alert > p + p { margin-top: 5px; }

.alert-dismissable, .alert-dismissible { padding-right: 35px; }
.alert-dismissable .close, .alert-dismissible .close { position: relative; top: -2px; right: -21px; color: inherit; }

.alert-success { background-color: #d8f4ec; border-color: #62d1b1; color: #2c2d34; }
.alert-success hr { border-top-color: #4ecca7; }
.alert-success .alert-link { color: #151518; }

.alert-info { background-color: #e9effb; border-color: #7da0e8; color: #2c2d34; }
.alert-info hr { border-top-color: #6890e4; }
.alert-info .alert-link { color: #151518; }

.alert-warning { background-color: #fdf3e5; border-color: #f5c587; color: #2c2d34; }
.alert-warning hr { border-top-color: #f3ba70; }
.alert-warning .alert-link { color: #151518; }

.alert-danger { background-color: #f7d1d5; border-color: #e87a87; color: #2c2d34; }
.alert-danger hr { border-top-color: #e46473; }
.alert-danger .alert-link { color: #151518; }

.carousel { position: relative; }

.carousel-inner { position: relative; overflow: hidden; width: 100%; }
.carousel-inner > .item { display: none; position: relative; -webkit-transition: 0.6s ease-in-out left; -o-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; line-height: 1; }
@media all and (transform-3d), (-webkit-transform-3d) { .carousel-inner > .item { -webkit-transition: -webkit-transform 0.6s ease-in-out; -moz-transition: -moz-transform 0.6s ease-in-out; -o-transition: -o-transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000px; -moz-perspective: 1000px; perspective: 1000px; }
  .carousel-inner > .item.next, .carousel-inner > .item.active.right { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); left: 0; }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); left: 0; }
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; } }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }

.carousel-control { position: absolute; top: 0; left: 0; bottom: 0; width: 15%; opacity: 0.5; filter: alpha(opacity=50); font-size: 20px; color: white; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); background-color: transparent; }
.carousel-control.left { background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
.carousel-control.right { left: auto; right: 0; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
.carousel-control:hover, .carousel-control:focus { outline: 0; color: white; text-decoration: none; opacity: 0.9; filter: alpha(opacity=90); }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right { position: absolute; top: 50%; margin-top: -10px; z-index: 5; display: inline-block; }
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left: 50%; margin-left: -10px; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 50%; margin-right: -10px; }
.carousel-control .icon-prev, .carousel-control .icon-next { width: 20px; height: 20px; line-height: 1; font-family: serif; }
.carousel-control .icon-prev:before { content: '\2039'; }
.carousel-control .icon-next:before { content: '\203a'; }

.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; margin-left: -30%; padding-left: 0; list-style: none; text-align: center; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; border: 1px solid white; border-radius: 10px; cursor: pointer; background-color: #000 \9; background-color: transparent; }
.carousel-indicators .active { margin: 0; width: 12px; height: 12px; background-color: white; }

.carousel-caption { position: absolute; left: 15%; right: 15%; bottom: 20px; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: white; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
.carousel-caption .btn { text-shadow: none; }

@media screen and (min-width: 768px) { .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { width: 30px; height: 30px; margin-top: -10px; font-size: 30px; }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { margin-right: -10px; }
  .carousel-caption { left: 20%; right: 20%; padding-bottom: 30px; }
  .carousel-indicators { bottom: 20px; } }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

/* ============================================================================= CUSTOM MIXINS & EXTEND CLASSES ========================================================================== */
.box-shadow { -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); }

.box-shadow-large { -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }

/*  Vertical align
	------------------------------------------------------------------------- */
/*  Box
	------------------------------------------------------------------------- */
.box, .box-small, .box-white { padding: 12px 20px; display: block; border-radius: 0; border: 1px solid #eeeef1; background: #fafbfb; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
@media (max-width: 1010px) { .box, .box-small, .box-white { margin-bottom: 1em; } }

a.box, a.box-small, a.box-white { cursor: pointer; }
a.box:hover, a.box-small:hover, a.box-white:hover, a.box:focus, a.box-small:focus, a.box-white:focus, a.box:active, a.box-small:active, a.box-white:active { background: white; text-decoration: none; }

.box-small { padding: 5px 10px 6px 10px; }

.box-white { background: white; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); }

.accent .box, .accent .box-small, .accent .box-white { border-color: #ffa300; }

/*  Css triangle
	------------------------------------------------------------------------- */
/*  Title border
	------------------------------------------------------------------------- */
.title-border, .page-leftmenu h1:after, .box .bodytext h2:after, .box-small .bodytext h2:after, .box-white .bodytext h2:after, .catalog-filters h2:after { position: relative; }
.title-border:after, .page-leftmenu h1:after, .box .bodytext h2:after, .box-small .bodytext h2:after, .box-white .bodytext h2:after, .catalog-filters h2:after { content: ""; display: block; border-bottom: 3px solid #ffa300; margin: 1.5em 0 0 0; width: 40px; height: 4px; }

/*  Font awesome icon
	------------------------------------------------------------------------- */
.fa-icon, .custom-icon { speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fa-icon { font-family: FontAwesome; }

.custom-icon { font-family: "custom"; font-size: 0.9em; }

/*  Rounded corners
	------------------------------------------------------------------------- */
/*  Box shadow + no ie fallback via PIE.htc because of bad quality
	------------------------------------------------------------------------- */
/*  Gradient + ie fallback via PIE.htc
	------------------------------------------------------------------------- */
/*  Transforms
	------------------------------------------------------------------------- */
/*  Transition
	------------------------------------------------------------------------- */
/*  Background
	------------------------------------------------------------------------- */
/*  Grid
	------------------------------------------------------------------------- */
.no-gutter { margin: 0; }
.no-gutter > div { padding-right: 0; padding-left: 0; }

/* ========================================================================== ICONS Description: Import fonts & icons ========================================================================== */
/* ========================================================================== IMPORT VARIABLES ========================================================================== */
/* ========================================================================== FONTFACE WEBFONTS ========================================================================== */
/* Webfont: LatoLatin-Regular */
@font-face { font-family: 'LatoLatinWeb'; src: url("fonts/LatoLatin-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/LatoLatin-Regular.woff2") format("woff2"), url("fonts/LatoLatin-Regular.woff") format("woff"), url("fonts/LatoLatin-Regular.ttf") format("truetype"); font-style: normal; font-weight: normal; text-rendering: optimizeLegibility; }
/* Webfont: LatoLatin-Light */
@font-face { font-family: 'LatoLatinWebLight'; src: url("fonts/LatoLatin-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/LatoLatin-Light.eot?#iefix") format("embedded-opentype"), url("fonts/LatoLatin-Light.woff2") format("woff2"), url("fonts/LatoLatin-Light.woff") format("woff"), url("fonts/LatoLatin-Light.ttf") format("truetype"); font-style: normal; font-weight: normal; text-rendering: optimizeLegibility; }
/* Webfont: LatoLatin-Bold */
@font-face { font-family: 'LatoLatinWeb'; src: url("fonts/LatoLatin-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/LatoLatin-Bold.woff2") format("woff2"), url("fonts/LatoLatin-Bold.woff") format("woff"), url("fonts/LatoLatin-Bold.ttf") format("truetype"); font-style: normal; font-weight: bold; text-rendering: optimizeLegibility; }
/* ========================================================================== IMPORT CUSTOM ICONS ========================================================================== */
@font-face { font-family: 'custom'; src: url("fonts/custom.eot?4yth56"); src: url("fonts/custom.eot?4yth56#iefix") format("embedded-opentype"), url("fonts/custom.ttf?4yth56") format("truetype"), url("fonts/custom.woff?4yth56") format("woff"), url("fonts/custom.svg?4yth56#custom") format("svg"); font-weight: normal; font-style: normal; }
.icon:before, .general-list li:before, .bodytext ul li:before, .icon:after, .general-list li:after, .bodytext ul li:after { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'custom' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Enable Ligatures ================ */ letter-spacing: 0; -webkit-font-feature-settings: "liga"; -moz-font-feature-settings: "liga=1"; -moz-font-feature-settings: "liga"; -ms-font-feature-settings: "liga" 1; font-feature-settings: "liga"; -webkit-font-variant-ligatures: discretionary-ligatures; font-variant-ligatures: discretionary-ligatures; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon:before, .general-list li:before, .bodytext ul li:before { padding-right: .5em; top: .1em; position: relative; font-size: 1.2em; }
.icon:after, .general-list li:after, .bodytext ul li:after { padding-left: .3em; }

.icon.home:before, .general-list li.home:before, .bodytext ul li.home:before { content: "\e602"; }

.icon.shop:before, .general-list li.shop:before, .bodytext ul li.shop:before { content: "\e60c"; }

.icon.lock:before, .general-list li.lock:before, .bodytext ul li.lock:before { content: "\e66b"; }

.icon.trash:before, .general-list li.trash:before, .bodytext ul li.trash:before { content: "\e681"; }

.icon.trash-after:after, .general-list li.trash-after:after, .bodytext ul li.trash-after:after { content: "\e681"; }

.icon.favorites:before, .general-list li.favorites:before, .bodytext ul li.favorites:before { content: "\e68d"; }

.icon.envelope:before, .general-list li.envelope:before, .bodytext ul li.envelope:before { content: "\e696"; }

.send:before { content: "\e699"; }

.icon.language:before, .general-list li.language:before, .bodytext ul li.language:before { content: "\e884"; }

.icon.save:before, .general-list li.save:before, .bodytext ul li.save:before { content: "\e6ae"; }

.icon.book:before, .general-list li.book:before, .bodytext ul li.book:before { content: "\e714"; }

.icon.user:before, .general-list li.user:before, .bodytext ul li.user:before { content: "\e71e"; }

.icon.cart:before, .general-list li.cart:before, .bodytext ul li.cart:before { content: "\e74d"; }

.icon.cart-add:before, .general-list li.cart-add:before, .bodytext ul li.cart-add:before { content: "\e752"; }

.icon.phone:before, .general-list li.phone:before, .bodytext ul li.phone:before { content: "\e76c"; }

.icon.refresh:before, .general-list li.refresh:before, .bodytext ul li.refresh:before { content: "\e8da"; }

.icon.invoice:before, .general-list li.invoice:before, .bodytext ul li.invoice:before { content: "\e914"; }

.icon.magnifier:before, .general-list li.magnifier:before, .bodytext ul li.magnifier:before { content: "\e922"; }

.icon.check:before, .general-list li.check:before, .bodytext ul li.check:before { content: "\e934"; }

.icon.close:before, .general-list li.close:before, .bodytext ul li.close:before { content: "\e935"; }

.icon.plus:before, .general-list li.plus:before, .bodytext ul li.plus:before { content: "\e936"; }

.icon.minus:before, .general-list li.minus:before, .bodytext ul li.minus:before { content: "\e937"; }

.icon.up:before, .general-list li.up:before, .bodytext ul li.up:before { content: "\e939"; }

.icon.down:before, .general-list li.down:before, .bodytext ul li.down:before { content: "\e93a"; }

.icon.left:before, .general-list li.left:before, .bodytext ul li.left:before, .icon.back:before, .general-list li.back:before, .bodytext ul li.back:before { content: "\e93b"; }

.right:after { content: "\e93c"; }

.icon.right-before:before, .general-list li:before, .bodytext ul li:before { content: "\e93c"; }

.icon.expand:before, .general-list li.expand:before, .bodytext ul li.expand:before { content: "\e94a"; }

.icon.status-warning:before, .general-list li.status-warning:before, .bodytext ul li.status-warning:before { content: "\e954"; }

.icon.status-danger:before, .general-list li.status-danger:before, .bodytext ul li.status-danger:before { content: "\e955"; }

.icon.status-ok:before, .general-list li.status-ok:before, .bodytext ul li.status-ok:before { content: "\e959"; }

.icon.menu:before, .general-list li.menu:before, .bodytext ul li.menu:before, .icon.orders:before, .general-list li.orders:before, .bodytext ul li.orders:before { content: "\e92b"; }

.icon.file-pdf:before, .general-list li.file-pdf:before, .bodytext ul li.file-pdf:before { content: "\e903"; }

.icon.file-excel:before, .general-list li.file-excel:before, .bodytext ul li.file-excel:before { content: "\e902"; }

.icon.file-technical:before, .general-list li.file-technical:before, .bodytext ul li.file-technical:before { content: "\e904"; }

.icon.status-info:before, .general-list li.status-info:before, .bodytext ul li.status-info:before { content: "\e900"; }

.icon.save-as:before, .general-list li.save-as:before, .bodytext ul li.save-as:before { content: "\e901"; }

.icon.square:before, .general-list li.square:before, .bodytext ul li.square:before { content: "\e98d"; }

.icon.check-square:before, .general-list li.check-square:before, .bodytext ul li.check-square:before { content: "\e999"; }

/* ========================================================================== HEADINGS ========================================================================== */
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0 0 0.5em 0; color: #2c2d34; }
h1 a, h1 a:hover, h1 a:focus, h1 a:active, h2 a, h2 a:hover, h2 a:focus, h2 a:active, h3 a, h3 a:hover, h3 a:focus, h3 a:active, h4 a, h4 a:hover, h4 a:focus, h4 a:active, h5 a, h5 a:hover, h5 a:focus, h5 a:active, h6 a, h6 a:hover, h6 a:focus, h6 a:active { text-decoration: none; }

h1 { font-size: 1.8em; color: #2c2d34; margin: 0 0 1em 0; font-family: LatoLatinWebLight; text-align: center; }
h1.intro { color: #1f4dad; font-size: 1.5em; line-height: 1.5em; margin: 0.3em 0 1em 0; letter-spacing: -.01em; }

.catalog-overview h1, .product-detail h1 { margin-bottom: .5em; font-size: 1.3em; }

.page-leftmenu h1 { font-size: 1.4em; text-transform: uppercase; }
.page-leftmenu h1:after { margin: 1em auto 0 auto; }

.small { font-size: .8em; }

.gray { color: #727587; }

h2 { font-size: 1.5em; color: #2c2d34; margin-bottom: 1em; }
h2.lg { font-size: 1.7em; margin-bottom: .7em; }
h2.product-divider, h2.divider { font-size: 1.4em; padding-top: .5em; margin-bottom: .5em; padding-left: 0em; }
h2.product-divider:before, h2.divider:before { content: ""; position: relative; border-bottom: 1px solid #eeeef1; display: block; height: 1px; z-index: 0; }
h2.product-divider span, h2.divider span { display: inline-block; background: white; padding: 0 2em 0 0; position: relative; z-index: 1; top: -0.8em; }
h2.divider { padding-left: 0; margin-top: 1em; margin-bottom: 0; }
h2.divider:first-of-type { margin-top: 2em; }

.box .bodytext h2, .box-small .bodytext h2, .box-white .bodytext h2, .catalog-filters h2 { font-size: 1.3em; text-transform: uppercase; font-weight: normal; letter-spacing: .02em; }
.box .bodytext h2:after, .box-small .bodytext h2:after, .box-white .bodytext h2:after, .catalog-filters h2:after { margin: 1em auto 0 auto; }

.catalog-filters h2 { font-size: 1.05em; margin-top: 1em; }

.catalog-teaser h2, .catalog-new h2 { text-transform: uppercase; font-family: "LatoLatinWebLight"; font-size: 1.3em; margin-bottom: 1.5em; }

h3 { display: inline-block; font-size: 1.2em; line-height: 1.4em; font-weight: 100; padding-bottom: 1em; margin-bottom: 1.5em; color: #2c2d34; display: inline-block; }

h4 { font-size: 1.05em; margin-bottom: 1em; }

h5 { font-size: 1em; }

h5, h4 { font-weight: 600; }

.bodytext h2, .bodytext h3, .bodytext h4, .bodytext h5, .bodytext h6 { margin-top: 1.5em; margin-bottom: .5em; }
.bodytext h2, .bodytext h3 { font-weight: 600; font-size: 1.25em; color: #2c2d34; }
.bodytext h2 { margin-top: 1em; display: inline-block; font-size: 1.2em; line-height: 1.4em; margin-bottom: 1.5em; color: #2c2d34; display: inline-block; }
.bodytext h3 { font-size: 1.2em; border: none; padding-bottom: 0px; margin-bottom: .5em; }

.accent h4 { color: #f09900; }

/* ========================================================================== LISTS ========================================================================== */
.general-list ul, .bodytext ul ul, .general-list li, .bodytext ul li { list-style: none; }
.general-list li, .bodytext ul li { padding: 5px 0 5px 22px; }
.general-list li:before, .bodytext ul li:before { font-size: .8em; }

/* ========================================================================== INTRO ========================================================================== */
.intro { font-size: .95em; line-height: 1.5em; }

/* ========================================================================== BODYTEXT  ========================================================================== */
.bodytext { line-height: 1.8em; }
.bodytext ul li { padding: 0; }

.page-intro { color: #8d8f9f; font-size: 1.15em; padding: 0 0 1em 0; line-height: 1.6em; }

/* Small devices (tablets, 768px and up) -------------------------------------------------------------------------- */
@media (min-width: 768px) { .catalog-overview h1, .product-detail h1 { font-size: 1.8em; }
  h1, .page-leftmenu h1, .page-leftmenu h1:after, .box .bodytext h2, .box-small .bodytext h2, .box-white .bodytext h2, .box .bodytext h2:after, .box-small .bodytext h2:after, .box-white .bodytext h2:after, .catalog-filters h2:after, .catalog-filters h2 { text-align: left; margin-left: 0; } }
/* Medium devices (desktops, 992px and up) -------------------------------------------------------------------------- */
@media (min-width: 1010px) { h1 { font-size: 2em; }
  h1.intro { font-size: 2em; } }
/* Large devices (large desktops, 1200px and up) -------------------------------------------------------------------------- */
